@import "../../../base/src/scss/imports/variables";

.card {
  position: relative;

  &:focus-within,
  &:hover {
    .card__media-overlay {
      opacity: 1;

      &--video {
        .sprite {
          color: color-mix(in srgb, var(--error-red) 100%, transparent);
          opacity: 1;
        }
      }
    }
    .card__title {
      text-decoration-color: var(--pa-link);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: _rem(1.5) _rem(3);
  }

  &__media {
    aspect-ratio: 16/9;
    flex: 1 1 _rem(26);
    position: relative;
    overflow: hidden;

    &--warning {
      &::after {
        position: absolute;
        content: "Missing alt text!";
        color: var(--white);
        background: var(--error-red);
        font-family: var(--font-family--display);
        top: _rem(1);
        right: _rem(1);
        font-size: var(--font-size--default);
        padding: _rem(.5);
      }
    }
  }

  &__media-overlay {
    position: absolute;
    inset: 0;

    &--standard {
      transition: opacity .2s linear;
      // @TODO: Custom properties don't seem to work with radial gradients?
      background: radial-gradient(circle, rgba($nittany-navy, 0) calc(100% / 3), rgba($nittany-navy, calc(1/3)), 75%, rgba($nittany-navy, calc(2/3)) 100%);
      opacity: 0;
    }
    &--video {
      display: flex;
      align-items: center;
      justify-content: center;

      .sprite {
        transition: color .1s cubic-bezier(0.4,0,1,1), opacity .1s cubic-bezier(0.4,0,1,1);
        width: calc(13% + _rem(2));
        height: calc(13% + _rem(2));
        opacity: 0.8;
        color: color-mix(in srgb, var(--black) 40%, transparent);
      }
    }

  }

  &__text {
    flex: 5 1 _rem(26);
    align-self: center;
  }

  &__title {
    color: var(--pa-link);
    display: block;
    font-family: var(--font-family--default);
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--xsnug);
    transition: text-decoration-color var(--transition-duration--default) linear;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: .2em;
  }

  &__attribution {
    color: var(--slate);
    display: block;
    font-family: var(--font-family--default);
    font-size: var(--font-size--small);
    font-style: italic;
    font-weight: var(--font-weight--regular);
    line-height: var(--line-height--snug);
  }

  &__description {
    margin-top: _rem(1.5);
  }

  &__link {
    position: absolute;
    inset: 0;
    outline: transparent _rem(.2) solid;
    outline-offset: _rem(.2);
    transition: outline-color var(--transition-duration--default) linear;

    &:focus-visible {
      outline-color: var(--sky-blue);
    }
  }

  &--list {
    border-bottom: _rem(.1) solid var(--medium-grey);
    padding: _rem(1.5) 0;

    .card__content {
      flex-wrap: nowrap;
      gap: _rem(2);
    }

    .card__media {
      max-width: _rem(10);

      &--warning {
        &::after {
          font-size: var(--font-size--4xsmall);
          top: _rem(.25);
          right: _rem(.25);
        }
      }
    }

    .card__title {
      font-size: var(--font-size--default);
      line-height: var(--line-height--xsnug);
    }
  }
}
