@import "../../../base/src/scss/imports/variables";

.read-more {
  text-decoration: none;
  font-size: var(--font-size--small);
  font-family: var(--font-family--default);
  line-height: var(--line-height--2xsnug);
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);

  &--small {
    font-size: var(--font-size--3xsmall);
  }

  &--reverse {
    color: var(--pa-link-light);

    &:focus-visible {
      outline-color: var(--white);
    }
  }

  .sprite {
    font-size: _rem(1);
    margin-left: _rem(.4);
  }
}
