@import "../../../base/src/scss/imports/variables";

.read-more {
  text-decoration: none;
  font-size: var(--font-size--small);
  font-family: var(--font-family--default);
  line-height: var(--line-height--2xsnug);
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);

  &--small {
    font-size: var(--font-size--3xsmall);
  }

  &--reverse {
    color: var(--pa-link-light);

    &:hover {
      text-decoration: underline _rem(0.1) solid var(--pa-link-light);
      text-underline-offset: 0.2em;
    }

    &:focus {
      outline-color: $white;
      text-decoration: underline _rem(0.1) solid var(--pa-link-light);
      text-underline-offset: 0.2em;
    }
  }

  .sprite {
    font-size: _rem(1);
    vertical-align: -6%;
  }
}
