@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.quote {
  color: var(--nittany-navy);

  &--reverse {
    color: var(--white);

    .quote__content::before, .quote__content::after {
      color: var(--pugh-blue);
    }
  }

  &__wrapper {
    display: flex;
    gap: _rem(2);
    align-items: center;

    @include bp(s) {
      gap: _rem(3);
    }
  }

  &__headshot {
    max-width: _rem(20);
    flex: 0 1 25%;
    align-self: flex-start;

    @include bp(s) {
      flex: 0 1 33.333%;
    }

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__figure {
    margin: 0;
    flex: 1 1 calc(100% - 25%);

    @include bp(s) {
      flex: 1 1 calc(100% - 33.333%);
    }
  }

  &__after {
    margin-top: var(--text-element-vertical-space--small);

    @include bp(s) {
      margin-top: var(--text-element-vertical-space--default);
    }
  }
}
