@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.quote {
  color: var(--nittany-navy);

  &--reverse {
    color: var(--white);

    .quote__content::before, .quote__content::after {
      color: var(--pugh-blue);
    }
  }

  &__wrapper {
    display: flex;
    gap: _rem(2);
    align-items: center;

    @include bp(s) {
      gap: _rem(3);
    }
  }

  &__headshot {
    max-width: _rem(20);
    flex: 0 1 25%;
    align-self: flex-start;

    @include bp(s) {
      flex: 0 1 33.333%;
    }

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__figure {
    margin: 0;
    flex: 1 1 calc(100% - 25%);

    @include bp(s) {
      flex: 1 1 calc(100% - 33.333%);
    }
  }

  &__content {
    position: relative;
    margin-left: _rem(2.8);
    font-family: var(--font-family--display);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size--large);
    line-height: var(--line-height--snug);
    letter-spacing: var(--letter-spacing--default);

    &::before, &::after {
      color: var(--sky-blue);
      font-weight: var(--font-weight--bold);
      line-height: var(--line-height--nospace);
      font-size: _rem(4.6);

      @include bp(s) {
        font-size: _rem(4.8);
      }
    }
    &::before {
      content: '“';
      position: absolute;
      text-indent: _rem(-2.8);
    }

    &::after {
      content: '”';
      margin-left: 0.5rem;
      position: static;
      line-height: .2;
      vertical-align: bottom;

      @include bp(s) {
        line-height: .25;
      }
    }
  }

  &__caption {
    margin-left: _rem(2.8);
    font-family: var(--font-family--default);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size--small);
    line-height: var(--line-height--snug);
  }

  &__caption, &__after {
    margin-left: _rem(2.8);
    margin-top: var(--text-element-vertical-space--small);

    @include bp(s) {
      margin-top: var(--text-element-vertical-space--default);
    }
  }
}
