@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";
@import "../../../base/src/scss/imports/utility";


/**
 * Contains styles for the announcement block.
 */
.announcement {
  position: relative;

  // Styles for the expanded announcement content.
  &__expanded {
    display: flex;
    max-width: rem(119);
    margin: auto;
    padding: rem(3) rem(2);
  }

  &__inner {
    // Stop text from wrapping around the icon.
    @include bp(xs) {
      display: flex;
    }
  }

  // The icon that appears in the expanded content area.
  &__icon {
    border-radius: 50%;
    float: left;
    width: rem(4.2);
    height: rem(4.2);
    margin-right: rem(1);
    display: flex;
    align-items: center;
    text-align: center;
    .sprite {
      margin: 0 auto;
      font-size: 2.5rem;
    }
    @include bp(xs) {
      float: none;
      flex-shrink: 0;
      margin: 0 rem(2) auto 0;
      width: rem(6.2);
      height: rem(6.2);
    }
      @include bp(m) {
        width: rem(7.4);
        height: rem(7.4);
        .sprite {
          font-size: 4rem;
        }
    }

  }

  // The WYSIWYG content that appears in the expanded content area.
  &__content {
    margin: auto 0;

    a {
      border-bottom-width: rem(0.1);
      border-bottom-style: dotted;
      transition: border-bottom-color .2s;

      &:hover,
      &:focus,
      &:active {
        border-bottom-style: solid;
      }
    }
    p {
      line-height: rem(2.4);

      @include bp(s) {
        font-size: rem(1.7);
        line-height: rem(2.5);
      }
    }
  }

  // Common styles for expand + collapse buttons.
  &__expand,
  &__collapse {
    background-color: transparent;
    border: none;
    outline-offset: rem(-0.2);
  }

  // Expand button for the announcement.
  &__expand {
    display: flex;
    font-size: rem(1.8);
    height: rem(4.5);
    justify-content: center;
    line-height: rem(2.5);
    padding: 0;
    width: 100%;
    transition: background-color .2s, border .2s, color .2s;
    cursor: pointer;
    border-bottom: 0.1rem solid transparent;
    & > * {
      font-weight: 700;
      margin: auto 0;
    }

    &-icon {
      margin-right: rem(1);
      position: relative;
      height: rem(2.5);
      width: rem(2.5);
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      font-size: rem(1.6);
      .sprite {
        margin: 0 auto;
      }
    }

  }

  // Collapse button for the announcement.
  &__collapse {
    font-size: rem(3.5);
    line-height: .7;
    margin: 0 0 auto rem(0.8);
    padding: rem(.8);
    transition: background-color .2s, color .2s;
    cursor: pointer;
    @include bp(xl) {
      margin: 0;
      position: absolute;
      right: rem(1.4);
      top: rem(2);
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $primary-blue;
      color: $white;
    }
  }

  &--notice {
    background-color: $medium-grey;
    color: $nittany-navy;

    .announcement {
      &__expand {
        &:active,
        &:focus,
        &:hover {
          background-color: $white;
          border-bottom: rem(0.1) solid $medium-grey;
        }
        &-icon {
          background: $primary-blue;
          color: $white;
        }
      }
      &__content {
        a, p {
          color: $beaver-blue;
        }

        a {
          border-bottom-color: $beaver-blue;
        }
      }

      &__icon {
        background: $primary-blue;
        .sprite {
          color: $white;
        }
      }
    }
  }

  &--warning {
    background-color: $keystone;
    color: $nittany-navy;

    .announcement {
      &__expand {
        &:active,
        &:focus,
        &:hover {
          background-color: $invent-orange-light;
        }
        &-icon {
          background: $white;
          color: $primary-blue;
        }
      }

      &__content {
        a, p {
          color: $beaver-blue;
        }

        a {
          border-bottom-color: $beaver-blue;
        }
      }

      &__icon {
        background: $white;

        .sprite {
          color: $primary-blue;
        }
      }
    }
  }

  &--emergency {
    background-color: $error-red;
    color: $white;

    .announcement {
      &__expand {
        &:active,
        &:focus,
        &:hover {
          background-color: $invent-orange;
          color: $nittany-navy;
        }
        &-icon {
          background: $white;
          color: $error-red;
        }
      }

      &__content {
        a, p {
          color: $white;
        }

        a {
          // White with 75% opacity.
          border-bottom-color: rgba(255, 255, 255, .75);

          &:hover {
            border-bottom-color: $white;
          }
        }
      }

      &__icon {
        background: $white;

        .sprite {
          color: $error-red;
        }
      }
    }
  }
}
