@import "../../../base/src/scss/imports/variables";

.social-icon {
  min-width: 4.4rem;
  display: inline-block;
  transition: .3s opacity ease-in;
  opacity: .8;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--light {
    color: var(--white);

    &:hover,
    &:focus {
      color: var(--white);
    }
  }

  &--dark {
    color: var(--pa-link);

    &:hover,
    &:focus {
      color: var(--pa-link);
    }
  }

  .sprite {
    width: _rem(4.4);
    height: _rem(4.4);
  }
}
