@use "sass:color";

@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.band {
  background-color: $light-mauve;

  &__content {
    padding-left: 2.6%;
    padding-right: 2.6%;

    @include bp(xs) {
      padding-left: rem(2);
      padding-right: rem(2);
    }
  }

  &--secondary {
    background-color: color.mix($light-mauve, $white);
  }

  &--padding-small .band__content {
    padding-top: rem(.8);
    padding-bottom: rem(.8);
  }

  &--padding-medium .band__content {
    padding-top: rem(1.5);
    padding-bottom: rem(1.5);
  }

  &--padding-large .band__content {
    padding-top: rem(3);
    padding-bottom: rem(3);
  }
}
