@use "sass:color";

@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.band {
  background-color: var(--beaver-blue);
  color: var(--text-color--light);

  &__content {
    padding: _rem(1.2) 2.6%;

    @include bp(m) {
      padding: _rem(1.6) _rem(2);
    }
  }

  &--padding-compact .band__content {
    padding-top: _rem(.8);
    padding-bottom: _rem(.8);

    @include bp(m) {
      padding-top: _rem(.8);
      padding-bottom: _rem(.8);
    }
  }

  &--padding-none .band__content {
    padding-top: 0;
    padding-bottom: 0;

    @include bp(m) {
      padding-top: _rem(0);
      padding-bottom: _rem(0);
    }
  }

  &--secondary {
    background-color: var(--nittany-navy);
  }
}
