:root {
  --blockquote-color--light: var(--pugh-blue);
  --blockquote-color--dark: var(--sky-blue);
}

:root, [data-light] {
  --blockquote-color: var(--blockquote-color--dark);
}

[data-dark] {
  --blockquote-color: var(--blockquote-color--light);
}

blockquote {
  color: var(--text-color);
  position: relative;
  margin: 0 0 0 _rem(2.8);
  font-family: var(--font-family--display);
  font-weight: var(--font-weight--regular);
  font-size: var(--font-size--large);
  line-height: var(--line-height--snug);
  letter-spacing: var(--letter-spacing--default);

  &::before, &::after {
    color: var(--blockquote-color);
    font-weight: var(--font-weight--bold);
    font-size: _rem(4.6);

    @include bp(s) {
      font-size: _rem(4.8);
    }
  }

  &::before {
    content: '“';
    position: absolute;
    text-indent: _rem(-2.8);
    line-height: var(--line-height--nospace);
  }

  &::after {
    content: '”';
    margin-left: _rem(.5);
    line-height: 0;
    vertical-align: -.375em;

    @include bp(s) {
      vertical-align: -.385em;
    }
  }

  & + figcaption {
    color: var(--text-color);
    margin: var(--text-element-vertical-space--small) 0 0 _rem(2.8);
    font-family: var(--font-family--default);
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--small);
    line-height: var(--line-height--snug);

    @include bp(s) {
      margin-top: var(--text-element-vertical-space--default);
    }
  }
}
