:root {
  --text-color--dark: $nittany-navy;
  --text-color--slate: $slate;
  --text-color--light: $white;
  --link-color--dark: $pa-link;
  --link-color--light: $pa-link-light;

  --text-color--default: var(--text-color--dark);
  --link-color--default: var(--link-color--dark);
  --headings-color: var(--text-color--slate);
}
