// "Clean" form styles
form {
  input {
    display: block;
    padding: _rem(1.25);
    font-family: var(--font-family--text);
    font-size: var(--font-size--msmall);
    line-height: var(--line-height--snug);
    color: var(--text-color--default);
    transition: border .25s linear;
  }

  input[type="submit"],
  button {
    font-family: var(--font-family--text);
    font-weight: var(--font-weight--semibold);
  }

  input:not([type="submit"]) {
    width: 100%;
  }

  input:not([disabled]) {
    &:not([type]), /** if type is not specified, it defaults to "text" */
    &[type="text"],
    &[type="date"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="month"],
    &[type="number"],
    &[type="password"],
    &[type="tel"],
    &[type="time"],
    &[type="url"],
    &[type="week"] {
      border: _rem(.1) solid;
      border-color: var(--limestone) var(--medium-grey) var(--medium-grey) var(--medium-grey);

      &:focus-visible {
        outline-color: var(--sky-blue);
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    padding: _rem(1.25);
    border-radius: 0;
    font-family: var(--font-family--text);
    font-size: var(--font-size--msmall);
    line-height: var(--line-height--snug);
    color: var(--text-color--default);
    height: _rem(10);
  }

  textarea:not([disabled]) {
    border: _rem(.1) solid;
    border-color: var(--limestone) var(--medium-grey) var(--medium-grey) var(--medium-grey);

    &:focus-visible {
      outline-color: var(--sky-blue);
    }
  }

  textarea,
  input {
    &.error:not([disabled]) {
      border-color: var(--error-red);
    }
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }


  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    font-size: var(--font-size--small);
    line-height: var(--line-height--nospace);
    display: inline-block;
    text-align: center;
    padding: _rem(1.5) _rem(3);
    background-color: var(--beaver-blue);
    border-radius: _rem(.2);
    color: var(--white);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    position: relative;
    border: none;
    cursor: pointer;

    @include bp(m) {
      padding: _rem(1.7) _rem(3.125);
    }

    &:hover, &:focus-visible {
      background-color: var(--nittany-navy);
      text-decoration: none;
    }

    &:focus-visible {
      outline: _rem(.2) solid var(--sky-blue);
      outline-offset: _rem(-.5);
    }
  }

  legend {
    padding: 0;
  }
}


select {
  font-family: var(--font-family–default);
  font-size: var(--font-size--msmall);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  background-size: 1em;
  width: 100%;
  border: _rem(.1) solid var(--medium-grey);
  border-radius: 0;
  line-height: var(--line-height--nospace);
  padding: _rem(1.65) _rem(3.5) _rem(1.65) _rem(1);
  cursor: pointer;
  color: var(--nittany-navy);
  &:focus-visible {
    outline-color: var(--sky-blue);
  }
}
