:root {
  --text-element-vertical-space--medium: 2rem;
  --text-element-vertical-space--small: 1rem;
  --text-element-vertical-space--large: 3rem;

  --text-element-vertical-space--default: var(--text-element-vertical-space--medium);
}
