p, .paragraph--default {
  color: var(--text-color--default);
  font-size: var(--font-size--default);
  line-height: var(--line-height--default);
  margin: 0 0 var(--text-element-vertical-space--default);

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  color: var(--text-color--default);
  font-size: var(--font-size--default);
  font-weight: var(--font-weight--default);
  line-height: var(--line-height--default);
  letter-spacing: var(--letter-spacing--default);
}

.text--contrasting {
  font-weight: 800;
  color: rgba($nittany-navy, .5);
}

// Font weight modifiers.
.text--weight-regular {
  font-weight: var(--font-weight--regular);
}

.text--weight-semibold {
  font-weight: var(--font-weight--semibold);
}

.text--weight-bold {
  font-weight: var(--font-weight--bold);
}

// Font size modifiers.
.text--size-6xlarge {
  font-size: var(--font-size--6xlarge);
}

.text--size-5xlarge {
  font-size: var(--font-size--5xlarge);
}

.text--size-4xlarge {
  font-size: var(--font-size--4xlarge);
}

.text--size-3xlarge {
  font-size: var(--font-size--3xlarge);
}

.text--size-2xlarge {
  font-size: var(--font-size--2xlarge);
}

.text--size-xlarge {
  font-size: var(--font-size--xlarge);
}

.text--size-large {
  font-size: var(--font-size--large);
}

.text--size-mlarge {
  font-size: var(--font-size--mlarge);
}

.text--size-medium {
  font-size: var(--font-size--medium);
}

.text--size-msmall {
  font-size: var(--font-size--msmall);
}

.text--size-small {
  font-size: var(--font-size--small);
}

.text--size-xsmall {
  font-size: var(--font-size--xsmall);
}

.text--size-2xsmall {
  font-size: var(--font-size--2xsmall);
}

.text--size-3xsmall {
  font-size: var(--font-size--3xsmall);
}

.text--size-4xsmall {
  font-size: var(--font-size--4xsmall);
}

// Line height modifiers.

.text--height-default {
  line-height: var(--line-height--default);
}

.text--height-msnug {
  line-height: var(--line-height--msnug);
}

.text--height-snug {
  line-height: var( --line-height--snug);
}

.text--height-xsnug {
  line-height: var(--line-height--xsnug);
}

.text--height-2xsnug {
  line-height: var(--line-height--2xsnug);
}

.text--height-3xsnug {
  line-height: var(--line-height--3xsnug);
}

.text--height-nospace {
  line-height: var(--line-height--nospace);
}

// Color modifiers
.text--color-default {
  color: var(--text-color--default);
}

.text--color-slate {
  color: var(--text-color--slate);
}

.text--color-reversed {
  color: var(--text-color--light);
}
