:root {
  // fonts
  --font-family--text: 'Promixa Nova', sans-serif;
  --font-family--display: 'Serifa', serif;

  // font mappings
  --font-family--default: var(--font-family--text);
  --font-family--headings: var(--font-family--display);
  --font-family--page-title: var(--font-family--text);
  --font-family--quotes: var(--font-family--display);

  // font sizing
  --font-size--6xlarge: _rem(6.2);
  --font-size--5xlarge: _rem(4.8);
  --font-size--4xlarge: _rem(3.2);
  --font-size--3xlarge: _rem(2.8);
  --font-size--2xlarge: _rem(2.5);
  --font-size--xlarge: _rem(2.2);
  --font-size--large: _rem(2);
  --font-size--mlarge: _rem(1.8);
  --font-size--medium: _rem(1.7);
  --font-size--msmall: _rem(1.6);
  --font-size--small: _rem(1.5);
  --font-size--xsmall: _rem(1.4);
  --font-size--2xsmall: _rem(1.3);
  --font-size--3xsmall: _rem(1.2);
  --font-size--4xsmall: _rem(1.1);

  --font-size--default: var(--font-size--medium);

  // line height
  --line-height--medium: calc(30/17);
  --line-height--snug: calc(24/17);
  --line-height--xsnug: calc(21/17);
  --line-height--2xsnug: calc(28/24);
  --line-height--3xsnug: calc(48/45);
  --line-height--nospace: 1;

  --line-height--default: var(--line-height--medium);

  // letter spacing
  --letter-spacing--2xloose: 0.06em;
  --letter-spacing--xloose: 0.03em;
  --letter-spacing--loose: 0.02em;
  --letter-spacing--mloose: 0.01em;
  --letter-spacing--medium: 0;
  --letter-spacing--msnug: -0.01em;
  --letter-spacing--snug: -0.02em;
  --letter-spacing--xsnug: -0.03em;
  --letter-spacing--2xsnug: -0.06em;

  --letter-spacing--default: var(--letter-spacing--medium);

  // font weights
  --font-weight--regular: 400;
  --font-weight--medium: 500;
  --font-weight--semibold: 600;
  --font-weight--bold: 700;
  --font-weight--extrabold: 800;

  --font-weight--default: var(--font-weight--regular);
}

@include bp(s) {
  :root {
    --font-size--6xlarge: _rem(7.9);
    --font-size--5xlarge: _rem(6);
    --font-size--4xlarge: _rem(4.5);
    --font-size--3xlarge: _rem(3.2);
    --font-size--2xlarge: _rem(2.8);
    --font-size--xlarge: _rem(2.4);
    --font-size--large: _rem(2.1);
  }
}

p {
  // color: $font-color-default;
  color: var(--text-color--default);
  font-size: _rem(1.6);
  line-height: _rem(3);
  margin: 0 0 _rem(2);

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  color: var(--text-color--default);
  font-size: var(--font-size--default);
  font-weight: var(--font-weight--default);
  line-height: var(--line-height--default);
  letter-spacing: var(--letter-spacing--default);
}

.text--contrasting {
  font-weight: 800;
  color: rgba($nittany-navy, .5);
  letter-spacing: -.0294em;
}

// Font weight modifiers.
.text--weight-regular {
  font-weight: var(--font-weight--regular);
}

.text--weight-semibold {
  font-weight: var(--font-weight--semibold);
}

.text--weight-bold {
  font-weight: var(--font-weight--bold);
}

// Font size modifiers.
.text--size-6xlarge {
  font-size: var(--font-size--6xlarge);
}

.text--size-5xlarge {
  font-size: var(--font-size--5xlarge);
}

.text--size-4xlarge {
  font-size: var(--font-size--4xlarge);
}

.text--size-3xlarge {
  font-size: var(--font-size--3xlarge);
}

.text--size-2xlarge {
  font-size: var(--font-size--2xlarge);
}

.text--size-xlarge {
  font-size: var(--font-size--xlarge);
}

.text--size-large {
  font-size: var(--font-size--large);
}

.text--size-mlarge {
  font-size: var(--font-size--mlarge);
}

.text--size-medium {
  font-size: var(--font-size--medium);
}

.text--size-msmall {
  font-size: var(--font-size--msmall);
}

.text--size-small {
  font-size: var(--font-size--small);
}

.text--size-xsmall {
  font-size: var(--font-size--xsmall);
}

.text--size-2xsmall {
  font-size: var(--font-size--2xsmall);
}

.text--size-3xsmall {
  font-size: var(--font-size--3xsmall);
}

.text--size-4xsmall {
  font-size: var(--font-size--4xsmall);
}

// Line height modifiers.
.text--height-snug {
  line-height: var( --line-height--snug);
}

.text--height-xsnug {
  line-height: var(--line-height--xsnug);
}

.text--height-2xsnug {
  line-height: var(--line-height--2xsnug);
}

.text--height-3xsnug {
  line-height: var(--line-height--3xsnug);
}

.text--height-nospace {
  line-height: var(--line-height--nospace);
}

// Color modifiers
.text--color-slate {
  color: var(--text-color--slate);
}

.text--color-reversed {
  color: var(--text-color--light);
}
