:root {
  // fonts
  --font-family--text: 'Promixa Nova', sans-serif;
  --font-family--display: 'Serifa', serif;
  // mappings
  --font-family--default: var(--font-family--text);
  --font-family--headings: var(--font-family--display);
  --font-family--page-title: var(--font-family--text);
  --font-family--quotes: var(--font-family--display);
  // sizing
  --font-size--6xlarge: 6.2rem;
  --font-size--5xlarge: 4.8rem;
  --font-size--4xlarge: 3.2rem;
  --font-size--3xlarge: 2.8rem;
  --font-size--2xlarge: 2.5rem;
  --font-size--xlarge: 2.2rem;
  --font-size--large: 2rem;
  --font-size--mlarge: 1.8rem;
  --font-size--medium: 1.7rem;
  --font-size--msmall: 1.6rem;
  --font-size--small: 1.5rem;
  --font-size--xsmall: 1.4rem;
  --font-size--2xsmall: 1.3rem;
  --font-size--3xsmall: 1.2rem;
  --font-size--4xsmall: 1.1rem;

  --font-size--default: var(--font-size--medium);
}

@include bp(s) {
  :root {
    --font-size--6xlarge: 7.9rem;
    --font-size--5xlarge: 6rem;
    --font-size--4xlarge: 4.5rem;
    --font-size--3xlarge: 3.2rem;
    --font-size--2xlarge: 2.8rem;
    --font-size--xlarge: 2.4rem;
    --font-size--large: 2.1rem;
  }
}

p {
  color: $font-color-default;
  font-size: _rem(1.6);
  line-height: _rem(3);
  margin: 0 0 _rem(2);

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  color: $nittany-navy;
  font-size: _rem(1.6);
  font-weight: 400;
  line-height: 1.875;
}

.text--contrasting {
  font-weight: 800;
  color: rgba($nittany-navy, .5);
  letter-spacing: -.0294em;
}

// Font weight modifiers.
.text--weight-regular {
  font-weight: 400;
}

.text--weight-semibold {
  font-weight: 600;
}

.text--weight-bold {
  font-weight: 700;
}

// Font size modifiers.
.text--size-small {
  font-size: _rem(1.4);
}

.text--size-xsmall {
  font-size: _rem(1.2);
}

// Line height modifiers.
.text--height-snug {
  line-height: 1.5;
}

.text--height-xsnug {
  line-height: calc(4/3);
}

// Color modifiers

.text--color-slate {
  color: $slate;
}

// @TODO: This should probably be set to an automatic CSS variable.
.text--color-reversed {
  color: $white;
}
