@import "imports/variables";
@import "imports/layout";
@import "colors";
@import "spacing";
@import "transitions";
@import "typography";

// Universal selectors.
*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: _rem(.2) solid $sky-blue;
}

// Type selectors.
html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  background: $nittany-navy;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  font-size: _rem(1.6);
  font-family: var(--font-family--default);
  color: var(--text-color--default);
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.link--default {
  color: var(--link-color--default);
  font-weight: var(--font-weight--semibold);
  text-decoration-line: underline;
  text-decoration-color: var(--link-color--default);
  text-decoration-style: dotted;
  text-decoration-thickness: _rem(0.1);

  &:hover,
  &:focus {
    text-decoration-style: solid;
  }

  &:focus {
    outline-offset: _rem(0.2);
  }

  &.hidden {
    left: _rem(-99.9);
    position: absolute;

    &:focus {
      background-color: transparent;
      color: #ffffff;
      left: _rem(.5);
    }
  }
}

.link--color-reversed {
  color: var(--link-color--light);
  text-decoration-color: var(--link-color--light);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  margin: _rem(2) 0;
  padding: 0;
  background: transparent;
  height: _rem(.1);
  width: 100%;
  border-bottom: _rem(.1) dotted rgba($nittany-navy, 0.25);
}

nav {
  ul {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      &.expanded,
      &.collapsed,
      &.leaf {
        padding: 0;
      }
    }
  }
}

caption {
  font-size: _rem(2.2);
  line-height: _rem(2.8);
  clear: both;
  color: $nittany-navy;
  font-weight: 700;
  padding-bottom: _rem(2);
  text-align:left;
}

b,
strong {
  font-weight: 700;
}

footer {
  overflow: hidden;
}

blockquote {
  margin: 0;

  p {
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
    color: $beaver-blue;
    font-size: _rem(1.4);
    line-height: _rem(2.4);
    text-indent:_rem(-.5);
  }
}

@import "buttons";
@import "fields";
@import "tables";
@import "typography";
@import "forms";

// Class selectors

.stealthed {
  display: none !important;
}

// Removing span:after content for visually-hidden class
span {
  &.visually-hidden {
    &:after {
      content: none !important;
    }
  }
}
