@import '../../../base/src/scss/imports/variables';

.icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--two-col {
    column-count: 2;
    column-width: rem(32);
    column-gap: rem(3);
  }

  &__item {
    break-inside: avoid;

    &:not(:last-child) {
      margin-bottom: rem(2);
    }
  }

  &__content {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: rem(1.5);
  }

  &__icon {
    color: $primary-blue;

    .sprite {
      width: rem(3);
      height: auto;
      max-height: rem(3);
    }
  }
}
