@import '../../../base/src/scss/imports/variables';

.icon-list {
  list-style-type: none;
  margin: 0 0 _rem(-2) 0;
  padding: 0;

  &--two-col {
    column-count: 2;
    column-width: _rem(32);
    column-gap: _rem(3);
  }

  &--three-col {
    column-count: 3;
    column-width: _rem(21);
    column-gap: _rem(3);
  }

  &__item {
    break-inside: avoid;

    padding-bottom: _rem(2);
  }

  &__content {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: _rem(1.5);
  }

  &__icon {
    color: var(--beaver-blue);

    .sprite {
      width: _rem(3);
      height: auto;
      max-height: _rem(3);
    }
  }
}
