.cta-group {
  &--align-right {
    text-align: right;
  }

  &--expand-to-fit {
    display:flex;
    width:100%;
    justify-content: space-between;

    > .cta-block {
      flex: 1 1 auto;

      &:not(.cta-block--compact, .cta-block--xcompact, .cta-block--compact-responsive) {
        padding: 1.5rem;

        @include bp(m) {
          padding: 1.7rem;
        }
      }
    }
  }

  & > .cta-block:not(:last-of-type) {
    margin-right: min(5%, _rem(1));
  }
}
