@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.cta-group {
  display: flex;
  min-width: _rem(10);

  &--align-right {
    text-align: right;
  }

  &--expand-to-fit {
    display:flex;
    width:100%;
    justify-content: space-between;

    > .cta-block {
      flex: 1 1 auto;

      &:not(.cta-block--compact, .cta-block--xcompact, .cta-block--compact-responsive) {
        padding: 1.5rem;

        @include bp(m) {
          padding: 1.7rem;
        }
      }
    }
  }

  & > .cta-block:not(:last-of-type) {
    margin-right: clamp(_rem(.5), 1.25vw, _rem(1));
  }
}
