.description-navigation-tile {
  background-color: $white;
  position:relative;
  transition: all .2s ease-in-out;
  height: 100%;
  &__link {
    border-bottom: none;
    display: block;
    height: 100%;
    position:absolute;
    width: 100%;
    z-index: 1;

    @include bp(xs) {
      box-shadow: _rem(0.1) _rem(0.2) 0 rgba(0,0,0,.15);
    }

  }

  &__content {
    display:block;
    padding: _rem(2);
    box-shadow: rgba(0, 0, 0, 0.15) _rem(0.1) _rem(0.2) 0 0;
    height: 100%;
  }

  &__title {
    background-color: $light-grey;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;
    max-width: 95%;
    padding: _rem(0.9) 0 _rem(0.6);
    box-shadow: _rem(1) 0 0 0 $light-grey, _rem(-1) 0 0 0 $light-grey;

    span {
      color: $nittany-navy;
      font-size: _rem(2);
      font-weight: 700;
      line-height: _rem(2.8);
      position: relative;
    }

    .sprite {
      font-size: _rem(1.2);
      margin-left: _rem(1);
      &:hover,
      &:focus {
        color: $white;
      }
      @include bp(m) {
        display: none;
      }
    }

  }

  &--light-grey {
    background: $light-grey;
    .description-navigation-tile__title {
      box-shadow: _rem(1) 0 0 0 $white, _rem(-1) 0 0 0 $white;
      background-color: $white;
    }
  }

  &__description {
    font-size: _rem(1.4);
    font-weight: 600;
    line-height: _rem(2.2);
    margin-top: _rem(1);
    padding: _rem(0.5) 0 _rem(0.5) 0;

    @include bp(m) {
      margin-top: _rem(2);
    }
  }

  &__title,
  &__link {
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
  }

  // Throw in some custom hover effects.
  &__link:active,
  &__link:focus,
  &__link:hover {
    & ~ .description-navigation-tile__content {
      .description-navigation-tile__title {
        background-color: $primary-blue;
        box-shadow: _rem(1) 0 0 0 $primary-blue, _rem(-1) 0 0 0 $primary-blue; // Hack for Edge + IE11

        & span {
          color: $white;
        }
      }
    }
  }
}
