@import '../../../base/src/scss/imports/variables';

.description-navigation-tile {
  background-color: var(--white);
  box-shadow: _rem(.1) _rem(.2) _rem(.3) color-mix(in srgb, var(--nittany-navy) 25%, transparent);
  border-top: _rem(.2) solid var(--sky-blue);
  height: 100%;
  padding: _rem(2);
  position: relative;
  transition: background-color var(--transition-duration--default) linear,
              border-top-color var(--transition-duration--default) linear;

  &--light-grey {
    background-color: var(--light-grey);
  }

  &:hover,
  &:focus-within {
    background-color: var(--pa-link-light);
    border-top-color: var(--pa-link);
    .description-navigation-tile__title {
      color: var(--nittany-navy);
    }
  }


  &__link {
    outline: transparent _rem(.2) solid;
    outline-offset: _rem(-.4);

    position: absolute;
    inset: 0 0 0 0;
    text-decoration: none;
    transition: outline-color var(--transition-duration--default) linear;

    &:focus-visible {
      outline-color: var(--pa-link);
      outline-offset: _rem(-.4);
    }

    // @TODO: Remove after polyfill is no longer needed.
    .focus-visible {
      outline-color: var(--pa-link);
      outline-offset: _rem(-.4);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: _rem(2);
  }

  &__title {
    color: var(--pa-link);
    font-family: var(--font-family--display);
    font-size: var(--font-size--large);
    line-height: var(--line-height--2xsnug);
    font-weight: var(--font-weight--medium);
    transition: color var(--transition-duration--default) linear;
  }

  &__description {
    color: var(--nittany-navy);
    font-size: var(--font-size--small);
    font-family: var(--font-family--text);
    line-height: var(--line-height--snug);
    font-weight: var(--font-weight--semibold);
  }
}
