@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";
@import "../../../base/src/scss/imports/utility";

.image-navigation-tile {
  background: $nittany-navy center;
  background-size: cover;
  overflow: hidden;
  position:relative;
  transition: all .2s ease-in-out, outline-offset 0;
  padding-bottom: 56.25%;
  height: 100%;
  width: 100%;

  &:focus-within {
    outline: 0.2rem solid #009cde;
    outline-offset: 0.2rem;
  }

  @include bp(m) {
    height: rem(21);
    padding-bottom: 0;
  }

  &:hover,
  &:focus {

    .image-navigation-tile__title {
      background-color: $primary-blue;
      box-shadow: rem(1) 0 0 0 $primary-blue, rem(-1) 0 0 0 $primary-blue; // Hack for Edge + IE11

      & span {
        color: $white;
      }
    }
  }

  &__link {
    background: radial-gradient(circle, rgba($nittany-navy, 0) calc(100% / 3), rgba($nittany-navy, calc(1/3)), 75%, rgba($nittany-navy, calc(2/3)) 100%);

    border-bottom: 0;
    display: block;
    height: 100%;
    position:absolute;
    width: 100%;
    transition: all .2s ease-in-out;
    opacity: 0;
    
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__content {
    pointer-events: none;
    position:absolute;
    top: rem(3);
    left: rem(2);
    max-width: 82%; // There is no calculation behind this number.

    @include bp(m) {
      min-height: rem(21);
      left: rem(2.5);
    }
  }

  &__title {
    background-color: $beaver-blue;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;
    max-width: 95%;
    padding: rem(0.9) 0 rem(0.6);
    box-shadow: rem(1) 0 0 0 $beaver-blue, rem(-1) 0 0 0 $beaver-blue;
    transition: all .2s ease-in-out;

    span {
      color: $white;
      font-size: rem(2);
      font-weight: 700;
      line-height: rem(2.8);
      position: relative;
    }


    .sprite {
      font-size: rem(1.2);
      margin-left: rem(1);
      @include bp(m) {
        display: none;
      }
    }
  }
}
