@import "../../../base/src/scss/imports/variables";

.credential {
  display: flex;
  flex-flow: row nowrap;

  &__icon {
    margin: _rem(.1) _rem(.9) auto 0;

    .sprite {
      color: $slate;
      width: _rem(2.1);
      height: _rem(1.6);
    }
  }

  &__text {
    font-family: $open-sans;
    font-style: italic;
    color: $slate;
    font-size: _rem(1.6);
    line-height: 1.5;
  }
}
