@import "../../../base/src/scss/imports/variables";

.credential {
  min-width: _rem(12);
  display: flex;
  flex-flow: row nowrap;
  color: var(--slate);

  &__icon {
    margin: _rem(-.25) _rem(.9) auto 0;

    .sprite {
      width: _rem(2.1);
      height: _rem(1.6);
    }
  }

  &__text {
    font-family: var(--font-family--default);
    font-weight: var(--font-weight--regular);
    line-height: var(--line-height--snug);
    font-style: italic;
  }
}
