@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.header {
  position: relative;
  overflow: hidden;
  z-index: 0;

  &::before, &::after {
    content: '';
    position: absolute;
  }

  &::before {
    inset: 0 50% 0 0;
    background: var(--beaver-blue);
    z-index: -1;
  }

  &::after {
    inset: 0 0 0 50%;
    background: var(--nittany-navy);
    z-index: -2;
  }

  &__gradient {
    position: absolute;
    width: _rem(88);
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(90deg, rgba(30,64,124,1) 0%, rgba(0,30,68,1) 100%);
    z-index: -1;
  }

  &__geometrics {
    --hub-geometric-gradient: url(#hub-geometric-header-gradient);
    .sprite {
      position: absolute;
      width: 71.8rem;
      top: -42.7rem;
      height: auto;
      opacity: .3;

      &:nth-child(2) {
        left: calc(50% - 33rem);
      }

      &:nth-child(3) {
        left: calc(50% + 38rem);
      }
    }
  }
}
.header__header {
  padding-bottom: 1rem;
}

.header__content {
  max-width: 119rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.header__branding {
  margin: 0 55px 0 0;
  position: relative;

  &::before {
    content: '';
    background-color: var(--white);
    background-image: linear-gradient(90deg, rgba(204,218,230,0.5) 0%, rgba(0,30,68,0) 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .sprite {
    color: var(--beaver-blue);
    width: _rem(18.5);
    height: auto;
    max-width: 100%;
    padding: 1rem 0 1rem 1rem;
  }

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc(90px * tan(40deg)) 90px 0 0;
    border-color: var(--white) transparent transparent transparent;
    bottom: 0;
  }
}

@media screen and (min-width: 1190px) {
  .header__branding::before {
    inset: 0 0 0 calc((-100vw + 1190px) / 2);
  }
}

.header__tagline {
  font-family: var(--font-family--default);
  color: var(--white);
  font-size: var(--font-size--2xsmall);
  margin-bottom: 1.25rem;
  margin-top: auto;
  font-weight: var(--font-weight--semibold);

  @include bp(xs) {
    font-size: var(--font-size--small);
    margin-bottom: 1.5rem;
  }
}

.header__tagline::before {
  margin-bottom: .5rem !important;
}

.header__small {
  display: contents;
  flex: 1 0 0;
  @include bp(l) {
    display: none;
  }
}

.header__large {
  display: none;

  @include bp(l) {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    margin-left: auto;
    padding-right: 1rem;
  }
}
.header__minimal {
  display: flex;
  gap: 1rem;
  padding: _rem(1) _rem(1) 0 0;
  flex: 1;
}

.header__utility {
  display: flex;
  gap: 1rem;
  padding: _rem(1) _rem(1) 0 0;
  margin-left: auto;
  align-items: center;
}

.header__large-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  a {
    font-size: var(--font-size--small);
    color: var(--white);
    text-decoration: none;
  }
}

.header__large-cta {
  display: flex;
  align-items: center;
}

.header__search {
  margin-left: auto;
}

.header__cta {
  margin: auto 0 auto auto;
  padding: _rem(1) _rem(1) 0 _rem(1);
  flex-basis: 100%;

  @include bp(l) {
    flex-basis: auto;
  }
}
