@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.header {
  position: relative;
  overflow: hidden;
  z-index: 0;

  &::before, &::after {
    content: '';
    position: absolute;
  }

  &::before {
    inset: 0 50% 0 0;
    background: var(--beaver-blue);
    z-index: -1;
  }

  &::after {
    inset: 0 0 0 50%;
    background: var(--nittany-navy);
    z-index: -2;
  }

  &__gradient {
    position: absolute;
    width: _rem(88);
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(90deg, rgba(30,64,124,1) 0%, rgba(0,30,68,1) 100%);
    z-index: -1;
  }

  &__geometrics {
    --hub-geometric-gradient: url(#hub-geometric-header-gradient);
    .sprite {
      position: absolute;
      width: 71.8rem;
      top: -42.7rem;
      height: auto;
      opacity: .3;

      &:nth-child(2) {
        left: calc(50% - 33rem);
      }

      &:nth-child(3) {
        left: calc(50% + 38rem);
      }
    }
  }
}

.header__inner {
  max-width: 122rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  z-index: 1;
  padding-bottom: _rem(1);
}

.header__dogear {
  position: relative;
  flex: 0 1 auto;
  &::before {
    content: '';
    background-color: var(--white);
    background-image: linear-gradient(90deg, rgba(204,218,230,0.5) 0%, rgba(0,30,68,0) 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 1220px) {
  .header__dogear::before {
    inset: 0 0 0 calc((-100vw + 1220px) / 2);
  }
}

.header__branding {
  display: inline-block;
  padding: _rem(1) 0 _rem(1) _rem(1);

  .sprite {
    height: auto;
    color: var(--beaver-blue);
    width: 100%;
    min-width: _rem(10);
    max-width: _rem(18.5);
  }
}

.header__content {
  display: flex;
  flex: 1 0 auto;
  min-width: _rem(26);

  &::before {
    background: var(--white);
    content: "";
    height: 100%;
    z-index: -2;
    aspect-ratio: 1 / #{"calc(tan(40deg))"};
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: -.05rem;
  }
}

// Minimal representation.
.header__tagline {
  font-family: var(--font-family--default);
  color: var(--white);
  font-size: var(--font-size--3xsmall);
  font-weight: var(--font-weight--semibold);
  margin-top: auto;
  margin-bottom: _rem(1);

  @include bp(xs) {
    font-size: var(--font-size--small);
    margin-bottom: _rem(1.5);
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: .125em;
    background-color: var(--sky-blue);
    max-width: _rem(8);
    margin-bottom: _rem(.5);
  }
}

.header__small {
  display: flex;
  gap: 4rem;
  margin-left: auto;
}

.header__utility {
  display: flex;
  gap: 1rem;
}
