@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.header {
  color: var(--white);
  overflow-x: clip;
  position: relative;
  z-index: 0;

  &::before, &::after {
    content: '';
    position: absolute;
  }

  &::before {
    inset: 0 50% 0 0;
    background: var(--beaver-blue);
    z-index: -1;
  }

  &::after {
    inset: 0 0 0 50%;
    background: var(--nittany-navy);
    z-index: -2;
  }

  &__gradient {
    position: absolute;
    width: _rem(88);
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(90deg, rgba(30,64,124,1) 0%, rgba(0,30,68,1) 100%);
    z-index: -1;
  }

  &__geometrics {
    pointer-events: none;
    position: absolute;
    inset: 0;
    overflow: hidden;
    --hub-geometric-gradient: url(#hub-geometric-header-gradient);

    .sprite {
      position: absolute;
      width: 71.8rem;
      top: -42.7rem;
      height: auto;
      opacity: .3;

      &:nth-child(2) {
        left: calc(50% - 33rem);
      }

      &:nth-child(3) {
        left: calc(50% + 38rem);
      }
    }
  }
}

.header__inner {
  max-width: 122rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  z-index: 1;
  padding-bottom: _rem(1);
}

.header__dogear {
  position: relative;
  flex: 0 1 auto;
  &::before {
    content: '';
    background-color: var(--white);
    background-image: linear-gradient(90deg, rgba(204,218,230,0.5) 0%, rgba(0,30,68,0) 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 1220px) {
  .header__dogear::before {
    inset: 0 0 0 calc((-100vw + 1220px) / 2);
  }
}

.header__branding {
  display: inline-block;
  padding: _rem(1) 0 _rem(1) _rem(1);

  .sprite {
    height: auto;
    color: var(--beaver-blue);
    width: 100%;
    min-width: _rem(10);
    max-width: _rem(18.5);
  }
}

.header__content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  min-width: _rem(18);
  padding-right: _rem(2);

  &::before {
    background: var(--white);
    content: "";
    height: 100%;
    aspect-ratio: 1/calc(tan(45deg));
    clip-path: polygon(1% 0, 1% 101%, 99% 0);
    display: inline-block;
    margin-left: -0.12rem;
    margin-top: -0.1rem;
    position: relative;
    z-index: -2;
  }
}

.header__small {
  display: flex;
  gap: _rem(4);
  margin-left: auto;

  @include bp(m) {
    display: none;
  }
}

.header__small-utility {
  display: flex;
  gap: _rem(1);
}

.header__small-cta {
  display: flex;
  max-width: _rem(122);
  margin: auto;
  padding: 0 -rem(1) _rem(1) _rem(1);

  @include bp(m) {
    display: none;
  }
}

.header__large {
  display: none;
  @include bp(m) {
    display: flex;
    margin-left: auto;
    gap: _rem(4);
  }
}

.header__large-utility {
  display: flex;
  align-items: center;
  gap: _rem(2);
}

.header__large-utility-links {
  display: flex;
  align-items: center;
  gap: _rem(2);
}

.header__large-utility-link {
  color: var(--text-color--light);
  text-decoration: none;
  font-size: var(--font-size--xsmall);
  line-height: var(--line-height--nospace);
  letter-spacing: var(--letter-spacing--medium);

  @include bp(xl) {
    font-size: var(--font-size--msmall);
  }
}

.header__large-menu {
  display: none;

  @include bp(m) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 _rem(3);
  }
}

// Minimal representation.
.tagline {
  line-height: 0;
  margin-top: auto;
  margin-bottom: _rem(1);

  &::before {
    content: '';
    display: block;
    background-color: var(--sky-blue);
    height: _rem(.1);
    width: _rem(6);
    margin-bottom: _rem(.6);

    @include bp(xs) {
      height: _rem(.2);
      width: _rem(7);
      margin-bottom: _rem(.7);
    }

    @include bp(m) {
      height: _rem(.3);
      width: _rem(8);
      margin-bottom: _rem(.8);
    }
  }

  &__text {
    font-family: var(--font-family--default);
    font-size: var(--font-size--5xsmall);
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--xsnug);

    @include bp(xs) {
      font-size: var(--font-size--3xsmall);
      margin-bottom: _rem(1.5);
    }

    @include bp(m) {
      font-size: var(--font-size--mlarge);
    }
  }

  &__strong {
    font-weight: var(--font-weight--extrabold);
  }
}
