@import '../../../base/src/scss/imports/variables';

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    --list-item-density: #{_rem(.5)};
    color: var(--text-color);

    &--density-loose {
      --list-item-density: #{_rem(1)};
    }


    &--horizontal {
      display: inline-block;

      &:not(:first-child) {
        margin-left: var(--list-item-density);
      }
      &:not(:last-child) {
        margin-right: var(--list-item-density)
      }
    }

    &--separator-dot {
      &:not(:last-child)::after {
        color: var(--accent-color, var(--text-color));
        content: "•";
        margin-left: calc(var(--list-item-density) * 2);
      }
    }
  }
}
