@import "../../../base/src/scss/imports/variables";

input[type="color"] {
  background: none;
  height: 100%;
  aspect-ratio: 1;
  padding: 0;
  border-width: _rem(.1);
  border-style: solid none solid solid;
  border-color: var(--form-element-border-color);

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    transition: border-color var(--transition-duration--default) linear;
  }
}
