&.bg--shield-topleft-bottomright {
  & > .bg__sprites > .bg__sprite .sprite {
    position: absolute;
    height: auto;
    display: none;

    //noinspection CssUnknownProperty
    @supports (container-type: inline-size ) {
      display: initial;
    }
  }

  & > .bg__sprites > .bg__sprite--1 .sprite {
    width: _rem(53.2);
    left: _rem(-30);
    top: _rem(-40);

    //noinspection CssUnknownProperty
    @supports (container-type: inline-size ) {

      //noinspection CssInvalidAtRule
      @container (min-width: 675px) {
        width: _rem(70);
        left: _rem(-40);
        top: _rem(-55);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 800px) {
        width: _rem(132.6);
        left: calc(((100% - #{_rem(39.5)}) / 2) - #{_rem(110)});
        top: _rem(-115);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 950px) {
        left: calc(((100% - #{_rem(39.5)}) / 2) - #{_rem(125)});
      }
    }
  }
  & > .bg__sprites > .bg__sprite--2 .sprite {
    width: _rem(53.2);
    right: _rem(-32);
    bottom: _rem(-46);

    //noinspection CssUnknownProperty
    @supports (container-type: inline-size ) {

      //noinspection CssInvalidAtRule
      @container (min-width: 550px) {
        width: _rem(75);
        right: _rem(-50);
        bottom: _rem(-60);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 675px) {
        width: _rem(100);
        right: _rem(-70);
        bottom: _rem(-90);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 800px) {
        width: _rem(132.6);
        right: calc(((100% - #{_rem(39.5)}) / 2) - #{_rem(120)});
        bottom: _rem(-120);
      }
    }
  }

  &.bg--primary-blue > .bg__sprites > .bg__sprite .sprite {
    opacity: .25;
  }

  &.bg--beaver-blue > .bg__sprites > .bg__sprite .sprite {
    opacity: .22;
  }
}
