&.bg--shield--left {
  .bg__sprite .sprite {
    position: absolute;
    z-index: -1;
    height: auto;
    width: rem(70);
    left: rem(-62);
    top: rem(-42);
    display: none; // @TODO: When container query support is more mainstream, simplify this.

    //noinspection CssUnknownProperty
    @supports (container-type: inline-size ) {
      display: initial;

      //noinspection CssInvalidAtRule
      @container (min-width: 550px) {
        width: rem(90);
        left: rem(-78);
        top: rem(-49);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 800px) {
        width: rem(110);
        left: rem(-98);
        top: rem(-63);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 950px) {
        width: rem(130);
        left: rem(-112);
        top: rem(-76);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 1280px) {
        left: rem(-98);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 1500px) {
        left: rem(-95);
      }

      //noinspection CssInvalidAtRule
      @container (min-width: 1800px) {
        left: rem(-83);
      }
    }
  }

  &.bg--primary-blue .bg__sprite .sprite {
    opacity: .25;
  }
}

&.bg--shield--left.bg--narrow .bg__sprite .sprite {
  @supports (container-type: inline-size ) {

    //noinspection CssInvalidAtRule
    @container (min-width: 950px) {
      left: rem(-110);
    }

    //noinspection CssInvalidAtRule
    @container (min-width: 1024px) {
      left: rem(-105);
    }

    //noinspection CssInvalidAtRule
    @container (min-width: 1280px) {
      left: rem(-90);
    }

    //noinspection CssInvalidAtRule
    @container (min-width: 1500px) {
      left: rem(-85);
    }

    //noinspection CssInvalidAtRule
    @container (min-width: 1800px) {
      left: rem(-70);
    }
  }
}
