@use "sass:map";

@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";
@import "colors";

.bg {
  background: none;
  padding-top: rem(3);
  padding-bottom: rem(3);
  position: relative;
  overflow: hidden;

  //noinspection CssUnknownProperty
  @supports (container-type: inline-size ) {
    // Might not be needed if a linear scaling function can work now?
    container-type: inline-size;
  }

  &--padding-large {
    padding-top: rem(5);
    padding-bottom: rem(5);
  }

  @include bp(xs) {
    padding-top: rem(4);
    padding-bottom: rem(4);

    &--padding-small {
      padding-top: rem(3);
      padding-bottom: rem(3);
    }

    &--padding-large {
      padding-top: rem(5);
      padding-bottom: rem(5);
    }
  }

  @include bp(m) {
    &--padding-large {
      padding-top: rem(6);
      padding-bottom: rem(6);
    }
  }

  @each $color, $scss_color in $supported_colors {
    &--#{$color} {
      background-color: #{$scss_color};
    }
  }

  // Left side shield
  &.bg--shield--left {
	.bg__sprite .sprite {
	  position: absolute;
	  z-index: -1;
	  height: auto;
	  width: 70rem;
	  left: -62rem;
	  top: -42rem;

	  //noinspection CssUnknownProperty
	 @supports (container-type: inline-size ) {

		// Might not be needed if a linear scaling function can work now?

		//noinspection CssInvalidAtRule
		@container (min-width: 550px) {
		  width: 90rem;
		  left: -78rem;
		  top: -49rem;
		}
		@container (min-width: 800px) {
		  width: 110rem;
		  left: -98rem;
		  top: -63rem;
		}
		@container (min-width: 950px) {
		  width: 130rem;
		  left: -112rem;
		  top: -76rem;
		}
		@container (min-width: 1280px) {
		  left: -98rem;
		}
		@container (min-width: 1500px) {
		  left: -95rem;
		}
		@container (min-width: 1800px) {
		  left: -83rem;
		}
	  }
    }
	&.bg--primary-blue .bg__sprite {
	  opacity: .25;
	}
  }
  &.bg--shield--left.bg--narrow .bg__sprite .sprite {
    @supports (container-type: inline-size ) {

      // Might not be needed if a linear scaling function can work now?

      @container (min-width: 950px) {
        left: -110rem;
      }
      @container (min-width: 1024px) {
        left: -105rem;
      }
      @container (min-width: 1280px) {
        left: -90rem;
      }
      @container (min-width: 1500px) {
        left: -85rem;
      }
      @container (min-width: 1800px) {
        left: -70rem;
      }
    }
  }
  
  // Right-side shield
  &.bg--shield--right {
	.bg__sprite .sprite {
  
	  position: absolute;
	  z-index: -1;
	  height: auto;
	  width: 70rem;
	  right: -58rem;
	  top: -40rem;

	 @supports (container-type: inline-size ) {

		// Might not be needed if a linear scaling function can work now?

		//noinspection CssInvalidAtRule
		@container (min-width: 550px) {
		  width: 90rem;
		  right: -75rem;
		  top: -47rem;
		}
		@container (min-width: 800px) {
		  width: 110rem;
		  right: -92rem;
		  top: -63rem;
		}
		@container (min-width: 950px) {
		  width: 130rem;
		  right: -110rem;
		  top: -76rem;
		}
		@container (min-width: 1280px) {
		  right: -96rem;
		}
		@container (min-width: 1500px) {
		  right: -85rem;
		}
		@container (min-width: 1800px) {
		  right: -75rem;
		}
	  }
	}
	&.bg--primary-blue .bg__sprite {
	  opacity: .25;
	}
  }
  
  // Adjustments for narrow widths with right side shield
  &.bg--shield--right.bg--narrow .bg__sprite .sprite {
    @supports (container-type: inline-size ) {

      @container (min-width: 950px) {
        right: -108rem;
      }
      @container (min-width: 1024px) {
        right: -100rem;
      }
      @container (min-width: 1280px) {
        right: -88rem;
      }
      @container (min-width: 1500px) {
        right: -87rem;
      }
      @container (min-width: 1800px) {
        right: -65rem;
      }
    }
  }
  
  &.bg--shield--right-bottom-corner {
  	.bg__sprite {
  	  position: absolute;
  	  z-index:-1;
  	  width: 8.6rem;
  	  height: 16.2rem;
  	  max-height: 100%;
  	  right: 0;
  	  bottom: 0;
  	  overflow:hidden;
	  .sprite {
		position: absolute;
		z-index: -1;
		height: auto;
		width: 72.2rem;
		right: -6.9rem;
		bottom: -25.3rem;
	  }
  	}
    &.bg--primary-blue .bg__sprite {
	  opacity: .5;
    }
  }
  
  &.bg--shield--topleft-bottomright {
    .bg__sprite .sprite {
	  position: absolute;
	  z-index: -1;
	  height: auto;
	}
  	.bg__sprite--1 .sprite {
	  width: 53.2rem;
	  left: -30rem;
	  top: -40rem;
	  @container (min-width: 675px) {
	    width: 70rem;
	    left: -40rem;
	    top: -55rem;
	  }
	  @container (min-width: 800px) {
		width: 132.6rem;
		left: calc( ( ( 100% - 39.5rem ) / 2 ) - 110rem );
	    top: -115rem;
	  }
	  @container (min-width: 950px) {
		left: calc( ( ( 100% - 39.5rem ) / 2 ) - 125rem );
	  }
    }
    .bg__sprite--2 .sprite {
	  width: 53.2rem;
	  right: -32rem;
	  bottom: -46rem;
	  @container (min-width: 550px) {
		width: 75rem;
		right: -50rem;
	  	bottom: -60rem;
	  }
	  @container (min-width: 675px) {
		width: 100rem;
		right: -70rem;
	  	bottom: -90rem;
	  }
	  @container (min-width: 800px) {
		width: 132.6rem;
		right: calc( ( ( 100% - 39.5rem ) / 2 ) - 120rem );
	  	bottom: -120rem;
	  }
    }
    &.bg--primary-blue .bg__sprite {
	  opacity: .25;
    }
  }
  
  &.bg--shield--program-page-banner-top {
  	.bg__sprite .sprite {
	  position: absolute;
	  z-index: -1;
	  width: 53.2rem;
	  height: auto;
	  left: -22.3rem;
	  top: -47.5rem;
	  @container (min-width: 950px) {
		width: 132.6rem;
		left: calc( ( ( 100% - 39.5rem ) / 2 ) - 108rem );
	    bottom: 0;
	    top: unset;
	  }
    }
    &.bg--primary-blue .bg__sprite {
	  opacity: .25;
    }
  }
  
  &.bg--shield--program-page-at-a-glance {
  	.bg__sprite .sprite {
	  position: absolute;
	  z-index: -1;
	  width: 53.2rem;
	  height: auto;
	  right: -32rem;
	  bottom: -46rem;
	  @container (min-width: 950px) {
		width: 132.6rem;
		right: - 113.8rem;
	  	top: 0;
	  	bottom: unset;
	  }
	  @container (min-width: 1280px) {
		right: calc( ( ( 100% - 39.5rem ) / 2 ) - 158rem );
	  }
    }
    &.bg--primary-blue .bg__sprite {
	  opacity: .25;
    }
  }
}
