@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.parallel-navigation {
  &__intro {
    margin-bottom: rem(.8);

    @include bp(m) {
      margin-bottom: rem(1.5);
    }
  }

  &__heading {
    margin-bottom: rem(.8);
  }

  &__text {
    font-size: rem(1.4);
    line-height: calc(13/7)
  }

  &__list {
    margin: 0;
    padding: 0;
    font-family: $open-sans;

    &--two-col {
      column-count: 2;
      column-gap: rem(2);
      column-width: rem(29);
    }
  }
}
