@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.upcoming-events {

  &__featured {
    display: flex;
    flex-direction: column;
    gap: var(--text-element-vertical-space--default) _rem(3);
    width: 100%;

    @include bp(s) {
      flex-direction: row;
    }
  }

  &__overflow {
    margin-top: var(--text-element-vertical-space--medium);

    @include bp(s) {
      margin-top: var(--text-element-vertical-space--large);
    }
  }

  &__more {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--text-element-vertical-space--medium);
  }

  &__event {
    flex: 1 1 0;
  }

  &--compact {
    .upcoming-events {
      &__heading {
        width: auto;
      }

      &__top,
      &__featured {
        flex-direction: column;
      }
    }
  }
}
