@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.parallel-navigation-item {
  min-width: _rem(10);
  
  &__link {
    color: var(--nittany-navy);
    display: flex;
    font-family: var(--font-family--default);
    font-size: var(--font-size--medium);
    font-weight: var(--font-weight--regular);
    line-height: var(--line-height--xsnug);
    padding: _rem(1.4) 0;
    text-decoration: none;
    text-decoration-style: solid;
    text-decoration-color: transparent;
    text-decoration-thickness: _rem(.1);
    transition: color  var(--transition-duration--default) linear,
                outline var(--transition-duration--default) linear;
    align-items: center;
    gap: _rem(1.9);

    .parallel-navigation-item__title {
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-color: transparent;
      text-decoration-thickness: _rem(.1);
      transition: text-decoration-color var(--transition-duration--default) linear;
    }

    @include bp(m) {
      font-size: var(--font-size--large);
      padding: _rem(1.7) 0;
    }

    &:hover, &:focus-visible {
      color: var(--pa-link);

      .parallel-navigation-item__title {
        text-decoration-color: var(--pa-link);
      }

      .parallel-navigation-item__chevron .sprite {
        transform: scale(1.25);
      }
    }

    &--active {
      color: var(--pa-link);
      font-weight: var(--font-weight--bold);
    }

    &--related {
      color: var(--pa-link);
      font-size: var(--font-size--large);
      padding: _rem(1.7) 0;
    }

    &--related#{&}--active {
      color: var(--nittany-navy);

      &:hover, &:focus-visible {
        .parallel-navigation-item__title {
          text-decoration-color: var(--nittany-navy);
        }
      }
    }
  }

  &__title {
    flex: 1;
  }

  &__icon {
    color: var(--beaver-blue);
    align-self: baseline;
    width: _rem(2.1);
    text-align: center;
  }

  &__chevron {
    margin: 0 _rem(1);
    .sprite {
      transition: transform .2s linear;
    }
  }
}
