details {
  border-width: _rem(.1);
  border-top-style: dotted;
  border-bottom-style: dotted;

  & + details {
    border-top: none;
  }

  &[open] > details[open] {
    border-bottom: none;
  }

  &[open] > summary {
    margin-bottom: _rem(3);

    & ~:last-child {
      margin-bottom: _rem(3);
    }
  }

  // All children (except the summary) need a left margin.
  & > *:not(summary) {
    margin-left: _rem(5);
  }

  &, &:is([data-light] *) {
    border-color: var(--pa-link);
  }

  &:is([data-dark] *) {
    border-color: var(--pugh-blue);
  }
}
