details {
  border-width: _rem(.1);
  border-top-style: dotted;
  border-bottom-style: dotted;

  & + details {
    border-top: none;
  }

  // The first child after the summary needs a top margin.
  & > summary + * {
    margin-top: _rem(3);
  }

  // All children (except the summary) need a left margin.
  & > *:not(summary) {
    padding-left: _rem(5);
  }

  &, &:is([data-light] *) {
    border-color: var(--pa-link);
  }

  &:is([data-dark] *) {
    border-color: var(--pugh-blue);
  }
}
