@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.pager {
  text-align: center;

  &:not(:first-child) {
    margin-top: _rem(4);

    @include bp(m) {
      margin-top: _rem(8);
    }
  }

  .pager__items {
    display: inline-flex;
    margin: 0 auto;
    flex-wrap: wrap;

    .pager__item {
      margin: 0 _rem(1) _rem(1) 0;

      &::before {
        display: none;
      }

      a {
        font-size: _rem(1.4);
        background-color: $beaver-blue;
        border-bottom: none;
        color: $white;
        cursor: pointer;
        display: flex;
        text-align: center;
        width: _rem(4);
        height: _rem(4);
        align-items: center;
        justify-content: center;
        position: relative;
        transition: background-color .25s ease;

        &:hover,
        &:focus {
          background-color: $nittany-navy;
          text-decoration: none;
        }

        &:focus {
          outline-offset: _rem(.2);
        }
      }

      &--next,
      &--previous,
      &--first,
      &--last {
        a {
          background: $light-grey;
          color: $primary-blue;
          font-weight: 400;

          &:hover,
          &:focus {
            color: $white;
          }
        }
      }

      &--last {
        margin: 0;
      }

      &.is-active {
        a {
          background-color: $primary-blue;

          &:hover {
            background-color: $primary-blue;
          }
        }
      }
    }
  }
}
