@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.pager {
  text-align: center;

  &__items {
    display: inline-flex;
    gap: _rem(1);
    margin: 0 auto;
    flex-wrap: wrap;
    list-style-type:none;
  }

  &__link {
    font-family: var(--font-family--default);
    font-size: var(--font-size--msmall);
    background-color: var(--pa-link);
    color: var(--white);
    text-decoration: none;
    display: flex;
    text-align: center;
    width: _rem(4);
    height: _rem(4);
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration--default) linear,
                color var(--transition-duration--default) linear;

    &:hover, &:focus-visible {
      background-color: var(--beaver-blue);
      text-decoration: none;
    }

    &[aria-current="page"] {
      background: var(--nittany-navy);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: _rem(.2) _rem(.2) calc(100% - #{_rem(.4)}) _rem(.2);
        background-color: var(--keystone);
      }
    }

    &--next,
    &--previous,
    &--first,
    &--last {
      background: var(--light-mauve);
      color: var(--pa-link);
      font-size: var(--font-size--xsmall);

      &:hover, &:focus-visible {
        background-color: var(--medium-grey);
        color: var(--beaver-blue);
      }
    }
  }
}
