@import "../../../base/src/scss/imports/variables";

.basic-tile {
  min-width: _rem(12);
  font-size: var(--font-size--default);
  line-height: var(--line-height--xsnug);
  font-family: var(--font-family--default);
  color: var(--text-color--light);
  background: var(--pa-link);
  padding: _rem(1.5) _rem(2);
  transition: background var(--transition-duration--default) linear,
              outline-color var(--transition-duration--default) linear;
  outline: solid _rem(.2) transparent;
  outline-offset: _rem(-0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-decoration: none;

  &:hover, &:focus-visible {
    text-decoration: none;
    background: var(--nittany-navy);
  }

  &:focus-visible {
    outline-color: var(--focus-indicator-color);
    outline-offset: _rem(-0.4);
  }

  &__primary-label {
    font-weight: var(--font-weight--bold);
  }

  &__secondary-label {
    font-weight: var(--font-weight--regular);
  }

  &--light {
    border: _rem(.1) solid var(--slate-light);
    box-shadow: _rem(.1) _rem(.2) _rem(.3)  color-mix(in srgb, var(--nittany-navy) 25%, transparent);
    background: var(--white);
    color: var(--pa-link);

    &:hover, &:focus-visible {
      background: var(--pa-link-light);
      color: var(--beaver-blue);
    }
    
    &:focus-visible {
      outline-color: var(--pa-link);
    }
  }
}
