@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.bio-collection {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__bio:not(:last-of-type) {
    margin-bottom: var(--text-element-vertical-space--large);

    @include bp(s) {
      margin-bottom: _rem(5);
    }
  }
}
