@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

:root {
  --headings-color--light: var(--white);
  --headings-contrasting-color--light: var(--white);
  --headings-color--dark: var(--slate);
  --headings-contrasting-color--dark: var(--text-color--dark);
  --h1-opacity--full: 100%;
  --h1-opacity--muted: 85%;
}

:root, [data-light] {
  --headings-color: var(--headings-color--dark);
  --headings-contrasting-color: var(--headings-contrasting-color--dark);
  --h1-opacity: var(--h1-opacity--full);
}

[data-dark] {
  --headings-color: var(--headings-color--light);
  --headings-contrasting-color: var(--headings-contrasting-color--light);
  --h1-opacity: var(--h1-opacity--muted);
}

// Common properties.
h1, h2, h3, h4, h5, h6, .heading {
  margin: 0 0 var(--text-element-vertical-space--default);

  .text--contrasting {
    color: var(--headings-contrasting-color);
  }
}

h2, h3, h4, h5, h6, .heading:not(h1) {
  color: var(--headings-color);
}

// <h1> specific properties.
h1, .heading--xlarge {
  color: color-mix(in srgb, transparent, var(--headings-color) var(--h1-opacity));
  font-family: var(--font-family--text);
  font-size: var(--font-size--4xlarge);
  font-weight: var(--font-weight--extrabold);
  letter-spacing: var(--letter-spacing--medium);
  line-height: var(--line-height--3xsnug);

  &.heading--no-overline.heading--flush {
    margin-top: _rem(-0.65);

    @include bp(s) {
      margin-top: _rem(-0.75);
    }
  }

  .text--contrasting {
    font-weight: var(--font-weight--extrabold);
  }
}

// <h2> specific properties.
h2, .heading--large {
  font-family: var(--font-family--headings);
  font-size: var(--font-size--3xlarge);
  font-weight: var(--font-weight--medium);
  line-height: var(--line-height--xsnug);
  letter-spacing: var(--letter-spacing--msnug);

  &.heading--no-overline.heading--flush {
    margin-top: _rem(-0.5);

    @include bp(s) {
      margin-top: _rem(-0.55);
    }
  }
}

// <h3> specific properties.
h3, .heading--medium {
  font-family: var(--font-family--headings);
  font-size: var(--font-size--xlarge);
  font-weight: var(--font-weight--medium);
  letter-spacing: var(--letter-spacing--medium);
  line-height: var(--line-height--xsnug);

  &.heading--flush {
    margin-top: _rem(-0.55);
  }
}

// <h4> specific properties.
h4, .heading--small {
  font-family: var(--font-family--headings);
  font-size: var(--font-size--mlarge);
  font-weight: var(--font-weight--medium);
  letter-spacing: var(--letter-spacing--medium);
  line-height: var(--line-height--snug);

  &.heading--flush {
    margin-top: _rem(-0.5);
  }
}

// <h5> specific properties.
h5, .heading--xsmall {
  font-family: var(--font-family--headings);
  font-size: var(--font-size--msmall);
  font-weight: var(--font-weight--medium);
  letter-spacing: var(--letter-spacing--medium);
  line-height: var(--line-height--snug);

  &.heading--flush {
    margin-top: _rem(-0.4);
  }
}

// <h6> specific properties.
h6, .heading--2xsmall {
  font-family: var(--font-family--headings);
  font-size: var(--font-size--2xsmall);
  font-weight: var(--font-weight--medium);
  letter-spacing: var(--letter-spacing--medium);
  line-height: var(--line-height--snug);

  &.heading--flush {
    margin-top: _rem(-0.4);
  }
}

// Styles specific to <h1> and <h2> elements.
h1, .heading--xlarge,
h2, .heading--large {
  &:not(.heading--no-overline)::before {
    content: '';
    display: flex;
    width: 100%;
    height: .125em;
    background-color: var(--accent-color);
    max-width: _rem(8);
  }
}

// Styles specific to <h1> elements.
h1, .heading--xlarge {
  &:not(.heading--no-overline)::before {
    margin-bottom: _rem(1);
  }
}

// Styles specific to <h2> elements.
h2, .heading--large {
  &:not(.heading--no-overline)::before {
    margin-bottom: _rem(1.5);
  }
}

// Styles specific to <h3>, <h4>, <h5>, and <h6> elements.
h3, .heading--medium,
h4, .heading--small,
h5, .heading--xsmall,
h6, .heading--2xsmall {

  // Forcibly remove any overlines that might be present.
  &::before {
    display: none !important;
  }

  .text--contrasting {
    font-weight: var(--font-weight--bold);
  }
}

// Modifiers.
.heading {

  &--subtle {
    font-family: var(--font-family--default);
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--medium);
    line-height: var(--line-height--2xsnug);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    &:not(.heading-no-overline)::before {
      margin-bottom: _rem(0.5);
      height: _rem(0.2);
    }
    .text--contrasting {
      font-weight: var(--font-weight--extrabold);
      letter-spacing: inherit;
    }
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;

    &::before {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--align-right {
    text-align: right;

    &::before {
      margin-left: auto;
    }
  }

  &--vspace-none {
    margin: 0;
  }

  &--vspace-small {
    margin: 0 0 var(--text-element-vertical-space--small);
  }

  &--vspace-large {
    margin: 0 0 var(--text-element-vertical-space--large);
  }
}
