@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";
@import "../../../base/src/scss/imports/utility";

.alert {
  position: relative;
  display: flex;
  padding: rem(2);

  &__icon {
    border-radius: 50%;
    float: left;
    width: rem(4.2);
    height: rem(4.2);
    margin-right: rem(1);
    display: flex;
    align-items: center;
    text-align: center;
    .sprite {
      margin: 0 auto;
      font-size: rem(2.5);
    }

  }
  &--error {
    background: #fdf3f3;
    border-top: rem(1) solid $error-red;

  }

  &--warning {
    border-top: rem(1) solid $keystone;
    background: #fffae5;
  }

  &--status {
    border-top: rem(1) solid #3ea39e;
    background: #f4faf9;
  }

  &__content {
    margin: auto 0;
  }
}
