@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.page-title {
  position: relative;
  height: _rem(40);
  overflow: hidden;

  &__gradient {
    &::before {
      content: "";
      display:block;
      position: absolute;
      left: calc(50% - 1260px);
      top: -80px;
      width: 1750px;
      height: 840px;
      transform: rotate(17deg);
      background: radial-gradient(closest-side, var(--nittany-navy), transparent);
      mix-blend-mode: multiply;
    }

    &::after {
      content: "";
      position: absolute;
      width: 10000px;
      left: calc(50% - 5000px);
      top: 0;
      bottom:0;
      background: linear-gradient(22deg, var(--nittany-navy) 41%, transparent 50%);
    }
  }

  &__image {
    position: absolute;
    object-fit: contain;
    object-position: top center;
    inset: 0;
  }

  &__content {
    position: relative;
    padding: 0 var(--page-side-padding);
    margin: auto;
    max-width: _rem(119);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__heading {
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-shadow: var(--nittany-navy) 0 0 _rem(1);
    margin-bottom: 0;
    width: _rem(45);
    padding-bottom: _rem(4);
  }

  &__subtitle-before {
    font-size: var(--font-size--large);
  }

  &__title {
    font-size: var(--font-size--4xlarge);
  }

  &__subtitle-after {
    font-size: var(--font-size--large);
  }
}
