@import "../../../base/src/scss/imports/variables";

.breadcrumbs {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    color: var(--beaver-blue);
    display: inline-block;
    font-family: var(--font-family--default);
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--bold);

    .sprite {
      font-size: _rem(.6);
      color: var(--sky-blue);
      margin: 0 _rem(1);
    }
  }

  &__link {
    color: var(--beaver-blue);
    font-weight: var(--font-weight--semibold);

    &:hover {
      color: var(--pa-link);
    }

    &:focus-visible {
      color: var(--pa-link);
    }

    &.focus-visible {
      color: var(--pa-link);
    }
  }
}
