@import "../../../base/src/scss/imports/variables";

.skip-link {
  padding: _rem(2) _rem(2.5);
  outline: _rem(0.2) solid $sky-blue;
  outline-offset: 0;
  z-index: var(--z-index--floating);
  background: $white;
  position: absolute;
  overflow: hidden;
  clip: rect(_rem(0.1),_rem(0.1),_rem(0.1),_rem(0.1));
  text-decoration: none;

  &:focus {
    left: _rem(1);
    top: _rem(1);
    clip: auto;
    overflow: visible;
    outline-offset: _rem(-.4);
  }
}
