@import "../../../base/src/scss/imports/variables";

.expandable-section {

  &__intro {
    margin-bottom: rem(2);
  }

  &__content {
    clear: both;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: 0;
    @media screen and (prefers-reduced-motion: no-preference) {
      transition-property: height, margin-bottom, visibility;
      transition-timing-function: linear;
    }
  }

  &__expand[aria-expanded="true"] + .expandable-section__content {
    visibility: visible;
    margin-bottom: rem(3);
    overflow: visible;
  }

  &__collapse {
    display: none;
  }
}
