@import "../../../base/src/scss/imports/variables";

.expandable-section {

  &__intro {
    margin-bottom: _rem(2);
  }

  &__content {
    content-visibility: auto;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    transition-property: height, margin-bottom, visibility;
    transition-timing-function: ease-in-out;
    margin-bottom: 0;
    position: relative;
  }

  &__expand[aria-expanded="true"] + .expandable-section__content {
    visibility: visible;
    margin-bottom: _rem(3);
    overflow: visible;
  }

  &__collapse {
    display: none;
  }
}
