@import "../../../base/src/scss/imports/variables";

.spinner {
  position: relative;
  display: inline-block;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: rem(.2) solid $sky-blue;
    outline-offset: rem(.2);
  }


  &__animation {
    &--xlarge {
      font-size: 15rem;
    }

    &--large {
      font-size: 10rem;
    }

    &--medium {
      font-size: 5rem;
    }

    &--small {
      font-size: 2.5rem;
    }

    &--xsmall {
      font-size: 1.6rem;
    }
  }

  &__text {
    display: none;
    color: $nittany-navy;
    text-shadow: .3rem .3rem 0 $white, -.1rem -.1rem 0 $white, .1rem .1rem 0 $white, -.1rem .1rem 0 $white, .1rem .1rem 0 $white;

    &--xlarge {
      font-size: 2.2rem;
    }

    &--large {
      font-size: 1.8rem;
    }

    &--medium {
      font-size: 1.6rem;
    }

    &--small {
      font-size: 1.2rem;
    }

    &--xsmall {
      font-size: 1.1rem;
    }

    @media (prefers-reduced-motion) {
      display: block;
    }
  }



  &__notch {
    position: absolute;
    color: $medium-grey;
    .sprite {
      animation: spin 2s linear infinite;
    }
    @media (prefers-reduced-motion) {
      .sprite {
        animation: none;
      }
      display: none;
    }
  }

  &__third {
    color: $beaver-blue;
    opacity: 0.61;
    z-index: 2;

    .sprite {
      animation: spin 1s linear infinite;
    }
    @media (prefers-reduced-motion) {
      .sprite {
        animation: none;
      }
      display: none;
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
