@use "sass:math";

@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.drop-button {
  display: flex;
  position: relative;

  &__toggle {
    background: $light-mauve;
    border: none;
    cursor: pointer;
    display: inline-flex;
    gap: rem(.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem rgba($beaver-blue, .5);
    transition: .3s color, .3s background-color, .3s box-shadow;
    width: 4.4rem;
    height: 4.4rem;
    color: $beaver-blue;

    font-family: $open-sans;
    font-weight: 400;

    font-size: 1.1rem;

    @include bp(xs) {
      font-size: 1.2rem
    }

    @include bp(s) {
      font-size: 1.4rem
    }

    @include bp(m) {
      font-size: 1.5rem
    }

    @include bp(l) {
      font-size: 1.6rem;
    }

    @include bp(xs) {
      padding: .6rem;
      width: 5.2rem;
      height: 5.2rem;
    }

    @include bp(s) {
      padding: .8rem;
      width: 6.3rem;
      height: 6.3rem;
    }

    @include bp(m) {
      padding: .9rem;
      width: 7.2rem;
      height: 7.2rem;
    }

    @include bp(l) {
      padding: 1rem;
      width: 8rem;
      height: 8rem;
    }

    &:focus-visible {
      background: $pugh-blue;
      box-shadow: .1rem .1rem $nittany-navy;
      color: $nittany-navy;
      outline: none;
    }

    &:focus {
      outline: none;
    }

    &.focus-visible {
      background: $pugh-blue;
      box-shadow: .1rem .1rem $nittany-navy;
      color: $nittany-navy;
      outline: none;
    }


    &:hover {
      background: $pugh-blue;
      box-shadow: .1rem .1rem $nittany-navy;
      color: $nittany-navy;
    }

    &[aria-expanded="true"] {
      box-shadow: -.1rem -.1rem $beaver-blue;
      & + .drop-button__list {
        visibility: visible;
        opacity: 1;
      }
    }

    .sprite {
      opacity: .75;
      height: rem(.605);

      @include bp(xs) {
        height: rem(.66);
      }

      @include bp(s) {
        height: rem(.77);
      }

      @include bp(m) {
        height: rem(.825);
      }

      @include bp(l) {
        height: rem(.88);
      }
    }
  }

  &__label {
    line-height: 1;
  }

  &__list {
    background: $white;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear, visibility .2s linear;
    list-style-type: none;
    border-style: solid;
    border-color: $slate-light $slate-light $slate-light $primary-blue;
    border-width: rem(.1) rem(.1) rem(.1) rem(.3);
    box-shadow: rem(.1) rem(.3) rem(.5) rgba($nittany-navy, .15);
    padding: rem(1);
    max-width: 100%;
    width: rem(28);
    z-index: 100;
    top: 100%;

    &::before {
      content: "";
      position: absolute;
      transform: rotateZ(45deg);
      background: $white;
      width: 2rem;
      height: 2rem;
      top: -1rem;
      z-index: -1;
      border-width: 1px;
      border-style: solid;
      border-color: $slate-light transparent transparent $slate-light;
      left: calc(2.2rem - #{rem(math.div(math.sqrt(200), 10))});

      @include bp(xs) {
        left: calc(2.6rem - #{rem(math.div(math.sqrt(200), 10))});
      }

      @include bp(s) {
        left: calc(3.15rem - #{rem(math.div(math.sqrt(200), 10))});
      }

      @include bp(m) {
        left: calc(3.6rem - #{rem(math.div(math.sqrt(200), 10))});
      }

      @include bp(l) {
        left: calc(4rem - #{rem(math.div(math.sqrt(200), 10))});
      }
    }
  }

  &__link {
    color: $nittany-navy;
    display: block;
    padding: 1rem;
    font-weight: 400;
    line-height: 1.25;
    font-size: rem(1.4);
    text-decoration: underline  transparent;
    text-underline-offset: rem(.3);
    transition: text-decoration-color .3s, color .3s;

    @include bp(xs) {
      font-size: rem(1.6);
    }

    &:hover, &:focus {
      color: $primary-blue;
      text-decoration-color: $primary-blue;
    }
  }

  &--align-center {
    .drop-button__toggle {
      margin-left: auto;
      margin-right: auto;
    }
    .drop-button__list {
      left: 50%;
      transform: translate(-50%);
    }

    .drop-button__list::before {
      left: 50%;
      transform: rotateZ(45deg) translateX(calc(-50% + 2px)) translateY(calc(50% - 2px));
    }
  }

  &--align-right {
    .drop-button__toggle {
      margin-left: auto;
    }
    .drop-button__list {
      right: 0;

      &::before {
        left: revert;
        right: 1.2rem;

        @include bp(xs) {
          right: 1.6rem;
        }

        @include bp(s) {
          right: 2.15rem;
        }

        @include bp(m) {
          right: 2.6rem;
        }

        @include bp(l) {
          right: 3rem;
        }
      }
    }
  }

  &--short {

    .drop-button__toggle {
      flex-direction: row;
      justify-content: space-around;
      height: auto;
      width: auto;
      padding: rem(.5) rem(.75);

      @include bp(xs) {
        padding: rem(.6) rem(.9);
      }

      @include bp(s) {
        padding: rem(.8) rem(1.2);
      }

      @include bp(m) {
        padding: rem(.9) rem(1.35);
      }

      @include bp(l) {
        padding: rem(1) rem(1.5);
      }
    }

    .sprite {
      height: 1em;
    }
  }

  &--full-width .drop-button__toggle {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.layout--bg-light-grey {
  .drop-button__toggle {
    background: $white;

    &:focus-visible {
      background: $pugh-blue;
    }

    &.focus-visible {
      background: $pugh-blue;
    }
  }
}
