legend {
  font-family: var(--form-label-font-family);
  font-weight: var(--form-label-font-weight);
  color: var(--form-label-text-color);
  font-size: var(--form-label-font-size);
  line-height: var(--form-label-line-height);
  padding: 0;
}
