@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.intro-form {

  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: rem(3);

    @include bp(s) {
      flex-direction: row;
      max-width: rem(97);
      padding: 0 rem(4);
    }
  }

  &__first {
    position: relative;

    margin-top: rem(-3);

    @include bp(xs) {
      margin-top: rem(-4);
    }

    @include bp(s) {
      box-shadow: rem(.1) rem(.2) rgba($nittany-navy, .4);
      flex: 1;
      height: fit-content;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  &__border {
    @include bp(s) {
      border-top: rem(.8) solid $primary-blue;
    }
  }

  &__image {
    background-color: $white;
    position: absolute;
    aspect-ratio: 16/7;
    width: 100%;

    @include bp(s) {
      aspect-ratio: 2;
    }

    img {
      aspect-ratio: 16/7;
      object-fit: cover;

      @include bp(s) {
        aspect-ratio: 2;
      }
    }
  }

  &__intro {
    padding: 0 rem(1);
    margin-top: calc(43.75% - 3.25rem);

    @include bp(xs) {
      padding: 0 rem(2);
    }

    @include bp(s) {
      background: $white;
      padding: 0;
      margin-top: calc(50% - 7.25rem);
    }
  }

  &__overlay {
    margin-right: rem(4);

    @include bp(xs) {
      margin-right: rem(5);
    }

    @include bp(s) {
      min-height: rem(5.9);
      margin-left: rem(-2);
      margin-right: rem(3);
    }
  }

  &__title {
    display: inline;
    letter-spacing: normal;
    position: relative;
    font-size: rem(3.4);
    font-family: $open-sans;
    line-height: 1.15;
    font-weight: 400;
    background: $primary-blue;
    padding: rem(1) 0;
    margin: 0 rem(1.5);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    box-shadow: rem(-1.5) 0 0 $primary-blue, rem(1.5) 0 0 $primary-blue;
    color: $white;
  }

  &__relative {
    position: relative;
  }

  &__description {
    background: $white;
    display: block;
    box-shadow: rem(.1) rem(.2) rgba($nittany-navy, .4);
    padding: rem(2.5) rem(2);
    margin: rem(.4) rem(1) 0 rem(1);

    @include bp(xs) {
      margin: rem(.4) rem(2) 0 rem(2);
    }

    @include bp(s) {
      font-size: rem(1.8);
      line-height: calc(33/18);
      margin: rem(1.3) 0 0 0;
      box-shadow: none;
      padding: rem(2) rem(2) rem(3);
    }
  }

  &__second {
    padding: 0 rem(2) rem(1) rem(2);

    @include bp(xs) {
      padding: 0 rem(4) rem(1) rem(4);
    }

    @include bp(s) {
      padding: 0;
      flex: 1;
    }
  }

  &--primary-blue &__border {
    @include bp(s) {
      border-top: rem(.8) solid $beaver-blue;
    }
  }

  &--primary-blue &__title {
    background: $beaver-blue;
    box-shadow: rem(-1.5) 0 0 $beaver-blue, rem(1.5) 0 0 $beaver-blue;

  }
}
