@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.intro-form {
  min-width: 20rem;
  position: relative;
  padding: _rem(3) 0;

  &__geometrics {
    position: absolute;
    inset: 0;
    overflow: hidden;

    &--light-grey {
      background-color: var(--light-grey);

      .sprite {
        color: var(--white);
      }
    }

    &--beaver-blue {
      background-color: var(--beaver-blue);

      .sprite {
        color: var(--sky-blue);
        opacity: .3;
      }
    }

    .sprite {
      position: absolute;
      height: auto;
      width: _rem(60);

      @include bp(m) {
        width: _rem(67);
      }
    }
  }

  &__sprite:nth-child(2) .sprite {
    top: _rem(-36.6);
    right: calc(50% + _rem(30));
  }

  &__sprite:nth-child(3) .sprite {
    bottom: _rem(-39);
    right: _rem(-33);

    @include bp(m) {
      bottom: _rem(-41);
      left: calc(50% + _rem(31.9));
      right: unset;
    }
  }

  &__container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: _rem(3);

    @include bp(s) {
      flex-direction: row;
      max-width: _rem(97);
      padding: 0 _rem(4);
    }
  }

  &__first {
    background-color: var(--nittany-navy);
    position: relative;

    margin-top: _rem(-3);

    @include bp(s) {
      border-top: _rem(.6) solid var(--sky-blue);
      box-shadow: _rem(.1) _rem(.2) rgba($nittany-navy, .4);
      flex: 1;
      height: fit-content;
      margin-top: 0;
      margin-bottom: _rem(1);
    }
  }

  &__image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: calc(100% - _rem(7.5)) 0 0 0;
      background: linear-gradient(to bottom, transparent, var(--nittany-navy));
    }

    img {
      aspect-ratio: 16/7;
      width: 100%;
    }
  }

  &__intro {
    padding: _rem(2.5) _rem(2);

    @include bp(xs) {
      padding: _rem(3) _rem(4);
    }

    @include bp(s) {
      padding: _rem(3) _rem(2)
    }
  }

  &__image + &__intro {
    padding-top: _rem(0);
  }

  &__description {
    font-size: var(--font-size--large);
    line-height: var(--line-height--snug);
  }

  &__second {
    padding: 0 _rem(2) _rem(1) _rem(2);

    @include bp(xs) {
      padding: 0 _rem(4) _rem(1) _rem(4);
    }

    @include bp(s) {
      padding: 0;
      flex: 1;
    }
  }
}
