@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.intro-form {

  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: _rem(3);

    @include bp(s) {
      flex-direction: row;
      max-width: _rem(97);
      padding: 0 _rem(4);
    }
  }

  &__first {
    background-color: var(--nittany-navy);
    position: relative;

    margin-top: _rem(-3);

    @include bp(s) {
      border-top: _rem(.6) solid var(--sky-blue);
      box-shadow: _rem(.1) _rem(.2) rgba($nittany-navy, .4);
      flex: 1;
      height: fit-content;
      margin-top: 0;
      margin-bottom: _rem(1);
    }
  }

  &__image {
    position: relative;
    aspect-ratio: 16/7;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      inset: calc(100% - 7.5rem) 0 0 0;
      background: linear-gradient(to bottom, transparent 0%, var(--nittany-navy) 100%);
    }
  }

  &__intro {
    padding: _rem(2.5) _rem(2);

    @include bp(xs) {
      padding: _rem(3) _rem(4);
    }

    @include bp(s) {
      padding: _rem(3) _rem(2)
    }
  }

  &__image + &__intro {
    padding-top: _rem(0);
  }

  &__description {
    color: var(--text-color--light);
    font-size: var(--font-size--large);
    line-height: var(--line-height--snug);
  }

  &__second {
    padding: 0 _rem(2) _rem(1) _rem(2);

    @include bp(xs) {
      padding: 0 _rem(4) _rem(1) _rem(4);
    }

    @include bp(s) {
      padding: 0;
      flex: 1;
    }
  }
}
