@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

.open-search {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative;

  label {
    display: inline-block;
    color: $beaver-blue;
    left: rem(5);
    position: absolute;
    pointer-events: none;
  }

  &--open {
    label {
      position: relative;
      margin-bottom: rem(0.6);
      left: 0;
      font-size: rem(1.4);
    }
    .icon {
      margin-top: rem(2.4);
      display: block;
    }
  }

  &__input {
    width: 100%;
    padding: rem(2) rem(5) rem(2) rem(5);
    border-color: rgba($medium-dark-grey, 0.5);
    font-weight: 700;
    color: $beaver-blue;
  }
  &__icon {
    position: absolute;
    left: rem(2);
    color: $primary-blue;
    font-size: rem(2);
  }
  &__close {
    position: absolute;
    right: 0;
    color: $slate;
    font-size: rem(2);
    background: none;
    border: none;
    cursor: pointer;
    width: rem(5);
    height: 100%;
    display: none;

    .sprite {
      transition: font-size 0.2s ease-in-out;
    }

    &:hover .sprite,
    &:focus .sprite {
      font-size: rem(2.4);
    }
  }

  &__results {
    position: absolute;
    background: $white;
    max-height: rem(50);
    box-shadow: 0 rem(0.5) rem(1) rgba($medium-dark-grey, 0.8);
    overflow-y: auto;
    z-index: 1;
    text-align: left;
    margin-top: rem(2);
    width: 100%;
    outline: 0;

    span {
      display: inline-block;
      margin-top: rem(3);
    }
    &.active {
      padding: rem(2) rem(3) rem(4);
      margin-top: rem(8.7);
      top: rem(0.3);

      @include bp(s) {
        width: calc(100% + 4rem);
        top: rem(2);
        margin-left: rem(-2);
      }
    }
  }

  &__no_results {
    display: inline-block;
    width: 100%;
    padding-bottom: rem(2);
    border-bottom: rem(0.1) solid $slate-light;
  }
}
