@import "../../../base/src/scss/imports/variables";

.event-spotlight {
  container-name: event-spotlight;
  width: 100%;
  background-color: $beaver-blue;

  &__image {
    // max rendered size: 410px x 169px
    // center crop vertically and horizontally

    img {
      //aspect-ratio: 7/16;
      //max-width: 410px;
      //max-height: 169px;
    }
  }

  &__title {
    font-family: var(--font-family--display);
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--medium);
    line-height: var(--line-height--2xsnug);
    color: var(--text-color--light);
    margin-bottom: 0.8rem;
  }

  &__date-time {
    display: flex;
    column-gap: 1rem;
    font-size: var(--font-size--xsmall);
    color: var(--text-color--light);
    margin-bottom: 0.8rem;

    .event-spotlight__date {
      font-weight: var(--font-weight--bold);
    }

    .event-spotlight__time {
      font-weight: var(--font-weight--regular);
    }
  }

  &__read-more-links {
    .event-spotlight__read-more-calendar a.read-more {
      padding: 0 2rem 2rem 2rem;
    }
  }
}

// Container queries
@container event-spotlight (min-width: 410px) {
  .event-spotlight {
    min-height: 20rem;
  }
}
