@import "../../../base/src/scss/imports/variables";

.event-spotlight {
  container-type: inline-size;
  background-color: var(--beaver-blue);

  @supports (container-type: inline-size ) {
    @container (min-width: 410px) {
      .event-spotlight__container {
        display: flex;
        flex-direction: row-reverse;
        min-height: _rem(20);
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
      aspect-ratio: 16 / 7;
    }

    @supports (container-type: inline-size ) {
      @container (min-width: 410px) {
        img {
          width: _rem(17.5);
          height: 100%;
        }
      }
    }

    .event-spotlight__image-overlay {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: _rem(6);
      background: linear-gradient(to bottom, transparent 0%, var(--beaver-blue) 100%);
    }
    @supports (container-type: inline-size ) {
      @container (min-width: 410px) {
        .event-spotlight__image-overlay {
          height: 100%;
          width: _rem(6);
          background: linear-gradient(to right, var(--beaver-blue) 0%, transparent 100%);
        }
      }
    }
  }

  &__content {
    padding: 0 _rem(2) _rem(2) _rem(2);

    .event-spotlight__link {
      display: inline-block;
      text-decoration: none;
      margin-bottom: _rem(3);

      &:hover,
      &:focus-visible {
        .read-more__text {
          text-decoration: underline;
        }
      }
    }
  }
  @supports (container-type: inline-size ) {
    @container (min-width: 410px) {
      .event-spotlight__content {
        padding: _rem(2.5) 0 _rem(2.5) _rem(2.5);
        flex: 1;
      }
    }
  }

  &__title {
    font-family: var(--font-family--display);
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--medium);
    line-height: var(--line-height--2xsnug);
    color: var(--text-color);
    margin-bottom: _rem(0.8);
  }

  &__date-time {
    font-size: var(--font-size--xsmall);
    color: var(--text-color);
    margin-bottom: _rem(0.8);

    .event-spotlight__date {
      display: inline-block;
      font-weight: var(--font-weight--bold);
      margin-right: _rem(1);
    }

    .event-spotlight__time {
      display: inline-block;
      font-weight: var(--font-weight--regular);
    }
  }
}
