@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.tabs {
  position: relative;

  &__list {
    /* @TODO: Replace with gap when flex-gap is available. */
    margin-left: _rem(-.4);
    margin-right: _rem(-.4);
    margin-bottom: _rem(3);

    @include bp(xs) {
      margin-bottom: _rem(4);
    }
    @include bp(s) {
      margin-left: _rem(-.45);
      margin-right: _rem(-.45);
    }

    @include bp(m) {
      margin-bottom: _rem(5);
    }

    @include bp(xl) {
      margin-left: _rem(-.5);
      margin-right: _rem(-.5);
    }
  }

  &__panels {
    position: relative;
  }

  &__panel {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    top: 0;

    &--active {
      position: relative;
      visibility: visible;
      opacity: 1;
      height: auto;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-left: _rem(.4) solid $sky-blue;
      margin-left: _rem(-1.4);
      padding-left: _rem(1);

      @include bp(xs) {
        margin-left: _rem(-2.4);
        padding-left: _rem(2);
      }
    }
  }
}

// @TODO: Delete when safari polyfills are no longer needed. */
// These styles are repeated from the canonical :focus-visible selector.

.tabs__panel.focus-visible {
  border-left: _rem(.4) solid $sky-blue;
  margin-left: _rem(-1.4);
  padding-left: _rem(1);

  @include bp(xs) {
    margin-left: _rem(-2.4);
    padding-left: _rem(2);
  }
}
