@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.tabs {
  &__list {
    /* @TODO: Replace with gap when flex-gap is available. */
    margin-left: rem(-.4);
    margin-right: rem(-.4);
    margin-bottom: rem(3);

    @include bp(xs) {
      margin-bottom: rem(4);
    }
    @include bp(s) {
      margin-left: rem(-.45);
      margin-right: rem(-.45);
    }

    @include bp(m) {
      margin-bottom: rem(5);
    }

    @include bp(xl) {
      margin-left: rem(-.5);
      margin-right: rem(-.5);
    }
  }

  &__panel {
    position: relative;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &--active {
      visibility: visible;
      opacity: 1;
      height: auto;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-left: rem(.4) solid $sky-blue;
      margin-left: rem(-1.4);
      padding-left: rem(1);

      @include bp(xs) {
        margin-left: rem(-2.4);
        padding-left: rem(2);
      }
    }
  }
}

// @TODO: Delete when safari polyfills are no longer needed. */
// These styles are repeated from the canonical :focus-visible selector.

.tabs__panel.focus-visible {
  border-left: rem(.4) solid $sky-blue;
  margin-left: rem(-1.4);
  padding-left: rem(1);

  @include bp(xs) {
    margin-left: rem(-2.4);
    padding-left: rem(2);
  }
}
