@import '../../../base/src/scss/imports/variables';

:root, [data-light] {
  --a11y-table-bg: var(--white);
  --a11y-table-shadows:
    linear-gradient(to right, var(--white) 30%, rgba(255, 255, 255, 0)) left,
    linear-gradient(to right, color-mix(in srgb, transparent, var(--nittany-navy) 20%), transparent) left,
    linear-gradient(to left, var(--white) 70%, transparent) right,
    linear-gradient(to left, color-mix(in srgb, transparent, var(--nittany-navy) 20%), transparent) right;
}

[data-dark] {
  --a11y-table-bg: var(--beaver-blue);
  --a11y-table-shadows:
    linear-gradient(to right, var(--beaver-blue) 30%, rgba(255, 255, 255, 0)) left,
    linear-gradient(to right, color-mix(in srgb, transparent, var(--black) 33%), transparent) left,
    linear-gradient(to left, var(--beaver-blue) 70%, transparent) right,
    linear-gradient(to left, color-mix(in srgb, transparent, var(--black) 33%), transparent) right;
}

.a11y-table {
  container-type: inline-size;
  overflow: visible;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  background: var(--a11y-table-shadows);
  background-color: var(--a11y-table-bg);
  background-repeat: no-repeat;
  background-size: 3rem 100%, 1.5rem 100%, 3rem 100%, 1.5rem 100%;
  background-attachment: local, scroll, local, scroll;

  &__table {
    border-collapse: collapse;
  }

  &__caption {
    background-color: var(--a11y-table-bg);
    color: var(--text-color);
    font-size: var(--font-size--large);
    line-height: var(--line-height--xsnug);
    font-weight: var(--font-weight--bold);
    text-align: left;
    max-width: 100cqw;
    padding-bottom: var(--text-element-vertical-space--default);
  }

  &__th, &__td {
    color: var(--text-color);
    padding-top: _rem(2);
    font-size: _rem(1.6);
    line-height: 1.5;
    scroll-snap-align: start;
    text-align: left;
        border-bottom: _rem(.1) solid var(--medium-grey);

    &:not(:first-child) {
      padding-left: _rem(2);
    }
  }

  &__th {
    font-weight: bold;
  }

  &__td {
    padding-bottom: _rem(2);
  }

  &__th {
    padding-bottom: _rem(1.5);
    border-bottom: _rem(.3) solid var(--medium-grey);

    &:not(:first-of-type) {
      padding-left: _rem(2);
    }
  }
}
