@import '../../../base/src/scss/imports/variables';

.a11y-table {
  container-type: inline-size;
  overflow: visible;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  background:
    linear-gradient(to right, var(--white) 30%, rgba(255, 255, 255, 0)) left,
    linear-gradient(to right, color-mix(in srgb, transparent, var(--nittany-navy) 20%), transparent) left,
    linear-gradient(to left, var(--white) 70%, transparent) right,
    linear-gradient(to left, color-mix(in srgb, transparent, var(--nittany-navy) 20%), transparent) right;

  background-repeat: no-repeat;
  background-size: 3rem 100%, 1.5rem 100%, 3rem 100%, 1.5rem 100%;
  background-attachment: local, scroll, local, scroll;

  &__table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
  }

  &__caption {
    // Clip the shadow.
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    padding-right: _rem(1.5);
    max-width: 100cqw;
  }

  &__th, &__td {
    color: var(--text-color);
    font-size: _rem(1.6);
    line-height: 1.5;
    scroll-snap-align: start;
    text-align: left;
  }

  &__th {
    font-weight: bold;
  }

  &__thead &__th {
    padding-bottom: _rem(1.5);
    border-bottom: _rem(.3) solid var(--medium-grey);

    &:not(:first-of-type) {
      padding-left: _rem(2);
    }
  }

  // If the first column is a header column, make it sticky.
  &__tbody &__tr &__th:first-child {
    position: sticky;
    left: 0;
    background: $white;
  }

  &__tbody > &__tr > &__th,
  &__tbody > &__tr > &__td {
    padding-top: _rem(2);
    padding-bottom: _rem(2);
    border-bottom: _rem(.1) solid var(--medium-grey);

    &:not(:first-child) {
      padding-left: _rem(2);
    }
  }
}
