@import '../../../base/src/scss/imports/variables';
@import '../../../base/src/scss/imports/layout';

:root {
  --compact-search-icon-color--light: var(--pugh-blue);
  --compact-search-text-color--light: var(--white);
  --compact-search-icon-hover-color--light: var(--white);
  --compact-search-icon-active-color--light: var(--keystone);

  --compact-search-icon-color--dark: var(--pa-link);
  --compact-search-text-color--dark: var(--beaver-blue);
  --compact-search-icon-active-color--dark: var(--sky-blue);
  --compact-search-icon-hover-color--dark: var(--beaver-blue);
}

:root, [data-light] {
  --compact-search-icon-color: var(--compact-search-icon-color--dark);
  --compact-search-text-color: var(--compact-search-text-color--dark);
  --compact-search-icon-hover-color: var(--compact-search-icon-hover-color--dark);
  --compact-search-icon-active-color: var(--compact-search-icon-active-color--dark);
}

[data-dark] {
  --compact-search-icon-color: var(--compact-search-icon-color--light);
  --compact-search-text-color: var(--compact-search-text-color--light);
  --compact-search-icon-hover-color: var(--compact-search-icon-hover-color--light);
  --compact-search-icon-active-color: var(--compact-search-icon-active-color--light);
}

.compact-search {
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: var(--line-height--nospace);

    &:is(:focus-visible > .compact-search__toggle) {
      outline: _rem(.2) solid var(--focus-indicator-color);
      outline-offset: _rem(.2);
    }

    &:where(:hover) &-sprite {
      color: var(--compact-search-icon-hover-color);
    }

    &:hover &-label {
      text-decoration-color: var(--compact-search-text-color);
    }

    &-sprite {
      color: var(--compact-search-icon-color);
      transition: color var(--transition-duration--default) linear;

      &:is([aria-expanded="true"] > .compact-search__toggle > .compact-search__toggle-sprite) {
        color: var(--compact-search-icon-active-color);
      }
    }

    &-label {
      color: var(--compact-search-text-color);
      display: block;
      font-family: var(--font-family--default);
      font-weight: var(--font-weight--semibold);
      font-size: var(--font-size--5xsmall);
      text-decoration-color: transparent;
      text-decoration-line: underline;
      text-decoration-thickness: _rem(.1);
      text-underline-offset: .2em;
      transition: text-decoration-color var(--transition-duration--default) linear;

      &:is(:focus-visible  > .compact-search__toggle > .compact-search__toggle-label) {
        text-decoration-color: var(--compact-search-icon-active-color);
      }
    }

    &--vertical {
      flex-direction: column;
      gap: _rem(.5);

      @include bp(xs) {
        gap: _rem(.7);
      }

      .compact-search__toggle-sprite .sprite {
        width: _rem(2.1);
        height: auto;

        @include bp(xs) {
          width: _rem(2.6);
        }
      }

      .compact-search__toggle-label {
        padding-bottom: .2em;

        @include bp(xs) {
          font-size: var(--font-size--3xsmall);
        }
      }
    }

    &--horizontal {
      flex-direction: row;
      gap: _rem(.6);

      .compact-search__toggle-sprite .sprite {
        width: _rem(1.6);
        height: auto;
        vertical-align: _rem(-.2);
      }

      .compact-search__toggle-label {
        font-size: var(--font-size--xsmall);

        @include bp(xl) {
          font-size: var(--font-size--msmall);
        }
      }
    }
  }
}
