@import "../../../base/src/scss/imports/_variables.scss";

.accordion {

  &:not(.accordion--borderless) {

    border-top: _rem(.1) solid var(--medium-grey);
    border-bottom: _rem(.1) solid var(--medium-grey);

    + .accordion {
      border-top: none;
    }
  }


  &__heading {
    margin-bottom: 0;

    .accordion__button {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;
    }
  }

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family--default);
    font-size: var(--font-size--default);
    font-weight: var(--font-weight--semibold);
    line-height: var(--line-height--snug);
    color: var(--beaver-blue);
    padding: _rem(2) 0;
    width: 100%;
    text-align: left;

    &:hover {
      color: var(--pa-link);

      .accordion__label {
        text-decoration-color: var(--pa-link);

        &--label-underline {
          text-decoration-style: solid;
        }
      }

      .accordion__sprite .sprite {
        transform: scale(1.25);
      }
    }

    &:focus, &:active {
      outline: none;
    }

    &:focus-visible {
      outline: _rem(.2) solid $sky-blue;
      outline-offset: _rem(.2);
      color: var(--pa-link);

      .accordion__label {
        text-decoration-color: var(--pa-link);

        &--label-underline {
          text-decoration-style: solid;
        }
      }

      .accordion__sprite .sprite {
        transform: scale(1.25);
      }
    }

    .accordion__label--label-underline {
      text-decoration-color: var(--pa-link);
    }
  }

  &__label {
    flex: 1 1 0;
    text-decoration-color: transparent;
    text-decoration-thickness: _rem(.1);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: .2em;
    transition: color .2s linear, text-decoration-color .2s linear;
  }

  .accordion__sprite .sprite {
    color: var(--pa-link);
    height: _rem(1.6);
    margin: auto _rem(1.5);
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: .2s;
  }

  &__expandable-content {
    transition-property: height, margin-bottom, visibility;
    transition-timing-function: ease-in-out;
    visibility: hidden;

    &--indent-content {
      margin-left: 3.75%;
    }
  }

  &--expanded {

   > .accordion__button,
   > .accordion__heading {
      .accordion__sprite .sprite {
        transform: rotate(45deg);
      }

      &:hover {
        .accordion__sprite .sprite {
          transform: rotate(45deg) scale(1.25);
        }
      }

      &:focus-visible {
        margin-bottom: _rem(.3);

        .accordion__sprite .sprite {
          transform: rotate(45deg) scale(1.25);
        }
      }
    }

   > .accordion__expandable-content {
      margin-bottom: _rem(2);
      visibility: inherit;
    }
  }
}

