@import "../../../base/src/scss/imports/_variables.scss";

.accordion {

  &:not(.accordion--borderless) {

    border-top: _rem(.1) solid $medium-grey;
    border-bottom: _rem(.1) solid $medium-grey;

    + .accordion {
      border-top: none;
    }
  }


  &__heading {
    margin-bottom: 0;

    .accordion__button {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;
    }
  }

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: $open-sans;
    font-size: _rem(1.6);
    line-height: _rem(2.4);
    color: $beaver-blue;
    padding: _rem(2) 0;
    width: 100%;
    text-align: left;
    transition: color .2s linear, margin-bottom .2s linear;

    &:hover {
      color: $primary-blue;

      .accordion__label {
        text-decoration-color: $primary-blue;

        &--label-underline {
          text-decoration-style: solid;
        }
      }

      .accordion__sprite .sprite {
        transform: scale(1.25);
      }
    }

    &:focus, &:active {
      outline: none;
    }

    &:focus-visible {
      outline: _rem(.2) solid $sky-blue;
      outline-offset: _rem(.2);
      color: $primary-blue;

      .accordion__label {
        text-decoration-color: $primary-blue;

        &--label-underline {
          text-decoration-style: solid;
        }
      }

      .accordion__sprite .sprite {
        transform: scale(1.25);
      }
    }

    .accordion__label--label-underline {
      color: $primary-blue;
      text-decoration-color: $primary-blue;
      text-decoration-thickness: _rem(.1);
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-underline-offset: .2em;
    }
  }

  &__label {
    flex: 1 1 0;
    text-decoration-color: transparent;
    text-decoration-thickness: _rem(.1);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: .2em;
    transition: color .2s linear, text-decoration-color .2s linear;
  }

  .accordion__sprite .sprite {
    color: $primary-blue;
    height: _rem(1.6);
    margin: auto _rem(1.5);
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: .2s;
  }

  &__expandable-content {
    transition-property: height, margin-bottom, visibility;
    transition-timing-function: linear;
    visibility: hidden;

    &--indent-content {
      margin-left: 3.75%;
    }
  }

  &--expanded {

   > .accordion__button,
   > .accordion__heading {
      .accordion__sprite .sprite {
        transform: rotate(45deg);
      }

      &:hover {
        .accordion__sprite .sprite {
          transform: rotate(45deg) scale(1.25);
        }
      }

      &:focus-visible {
        margin-bottom: _rem(.3);

        .accordion__sprite .sprite {
          transform: rotate(45deg) scale(1.25);
        }
      }
    }

   > .accordion__expandable-content {
      margin-bottom: _rem(2);
      visibility: inherit;
    }
  }
}

// @TODO: Delete when focus-visible polyfill is removed.
.accordion {

  &__button.focus-visible {
    outline: _rem(.2) solid $sky-blue;
    outline-offset: _rem(.2);
    color: $primary-blue;
    margin-bottom: _rem(.3);

    .accordion__label {
      text-decoration-color: $primary-blue;
    }

    .accordion__sprite .sprite {
      color: $primary-blue;
      transform: scale(1.25);
    }
  }

  &--expanded .accordion__button.focus-visible .accordion__sprite .sprite {
    transform: rotate(45deg) scale(1.25);
  }
}
