@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.bio {
  clear: both;

  &__title {
    @include bp(s) {
      float: left;
    }
  }

  &__job-title {
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--snug);

    @include bp(s) {
      clear: left;
    }
  }

  &__profile-photo {
    margin-bottom: var(--text-element-vertical-space--default);

    @include bp(s) {
      float: right;
      margin: 0 0 _rem(2.2) _rem(3);
    }
  }

  &__credentials {
    list-style-type: none;
    margin: 0 0 var(--text-element-vertical-space--default) 0;
    padding: 0;

    @include bp(s) {
      clear: left;
    }
  }

  &__credential:not(:last-of-type) {
    margin-bottom: _rem(.6);
  }

  &__content {
    @include bp(s) {
      clear: left;
    }
  }

  &__link {
    margin-top: var(--text-element-vertical-space--default);

    @include bp(s) {
      clear: left;
    }
  }
}
