@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

.modal {
  &.show-modal {
    .modal__overlay,
    .modal__container {
      display: flex;
    }
  }

  &.hide-modal {
    .modal__overlay,
    .modal__container {
      display: none;
    }
  }

  .modal__overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    inset: 0;
    background-color: color-mix(in srgb, var(--nittany-navy) 85%, transparent);
    width: 100%;
    height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
    z-index: var(--z-index--modal);

    // @TODO: Remove fallback when appropriate.
    @supports not (background: color-mix(in srgb, white, white)) {
      background-color: rgba($nittany-navy, 0.85);
    }
  }

  .modal__container {
    display: none;
    flex-direction: column;
    position: relative;
    background-color: var(--white);
    width: fit-content;
    height: auto;
    padding: _rem(5) _rem(2) _rem(3) _rem(2);
    margin: _rem(2);
    overflow: auto;
    max-height: 100%;

    @include bp(xs) {
      padding: _rem(5);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: _rem(0.2) solid var(--focus-indicator-color);
    }
  }

  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: _rem(5);
    height: _rem(5);
    padding: 0;
    border: none;
    background: none;

    &:hover,
    &:focus {
      background-color: var(--pa-link);
      color: var(--white);
      cursor: pointer;

      .sprite--fa-times {
        color: var(--white);
      }
    }

    &:focus {
      outline: solid _rem(0.2) var(--white);
      outline-offset: _rem(-0.4);

    }

    .sprite--fa-times {
      background: none;
      color: var(--pa-link);
      width: _rem(2.4);
      height: _rem(2.4);
    }
  }

  .modal__confirm {
    display: block;
    margin-top: _rem(2);
    border:none;
    padding: _rem(1.5) _rem(3);
    font-family: var(--font-family--default);
    font-size: var(--font-size--msmall);
    line-height: var(--line-height--2xsnug);
    font-weight: var(--font-weight--semibold);
    border-radius: var(--button-border-radius--default);
    transition: background-color var(--transition-duration--default) ease-in-out,
                border-color var(--transition-duration--default) ease-in-out,
                color var(--transition-duration--default) ease-in-out;
    text-align:center;
    color: var(--white);
    background-color: var(--pa-link);
    outline-offset: _rem(-.5);
    position: relative;

    @include bp(m) {
      padding: _rem(1.7) _rem(3.125);
    }

    &:hover, &:focus-visible {
      background-color: var(--nittany-navy);
    }

    &:focus-visible {
      outline: _rem(.2) solid var(--focus-indicator-color);
      outline-offset: _rem(-.5);
    }

    &--right {
      margin-left: auto;
    }
  }
}
