.modal {
  .modal__overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #001e44; // $nittany-navy
    width: 100%;
    height: 100%;
    opacity: 0.85;
    z-index: 1;
  }

  .modal__container {
    display: none;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: fit-content;
    height: auto;
    padding: 5rem;
    margin: 1rem;
  }

  .modal__close {
    // align-self: flex-end;
    position: absolute;
    right: 1rem;
    top: 1rem;

    .sprite--fa-times {
      background: none;
      color: #0064bf; //$primary-blue
      width: 5rem;
      height: 5rem;

      &:hover {
        background-color: #0064bf;
        color: white;
        cursor: pointer;
      }

      &:focus {
        outline: solid 0.2rem #009cde; // $sky-blue
        outline-offset: 0.2rem;
      }
    }
  }
}
